<%
colors = [
  "draft",
  "info",
  "success",
  "warning",
  "danger"
]
%>

<h5>Default</h5>
<% colors.each do | color | %>
  <%= sage_component SageLabel, {
    color: color,
    content: color.capitalize
  } %>
<% end %>

<h5>Subtle</h5>
<% colors.each do | color | %>
  <%= sage_component SageLabel, {
    color: color,
    style: "subtle",
    content: color.capitalize
  } %>
<% end %>

<h5>Bold</h5>
<% colors.each do | color | %>
  <%= sage_component SageLabel, {
    color: color,
    style: "bold",
    content: color.capitalize
  } %>
<% end %>

<h5>With Icons</h5>
<%= sage_component SageLabel, {
  color: "draft",
  content: "Add",
  icon: { style: "left", name: "add-small" }
} %>
<%= sage_component SageLabel, {
  color: "draft",
  content: "Tag",
  icon: { style: "right", name: "tag" }
} %>

<h5>Interactive</h5>
<% colors.each do | color | %>
  <%= sage_component SageLabel, {
    color: color,
    interactive: true,
    content: color.capitalize,
    icon: { style: "right", name: "caret-down" }
  } %>
<% end %>
