<%
colors = [
  "draft",
  "info",
  "success",
  "warning",
  "danger"
]
%>

<h5>Default</h5>
<div class="sage-panel__block">
  <% colors.each do | color | %>
    <%= sage_component SageLabel, {
      color: color,
      value: %(
        #{color.capitalize}
        <button class="sage-btn sage-btn--subtle sage-btn--secondary sage-btn--icon-only-remove"></button>
      )
    } %>
  <% end %>
</div>

<h5>Subtle</h5>
<div class="sage-panel__block">
  <% colors.each do | color | %>
    <%= sage_component SageLabel, {
      color: color,
      style: "subtle",
      value: color.capitalize
    } %>
  <% end %>
</div>

<h5>Bold</h5>
<div class="sage-panel__block">
  <% colors.each do | color | %>
    <%= sage_component SageLabel, {
      color: color,
      style: "bold",
      value: color.capitalize
    } %>
  <% end %>
</div>

<h5>With Icons</h5>
<div class="sage-panel__block">
  <%= sage_component SageLabel, {
    color: "draft",
    value: "Add",
    icon: { style: "left", name: "add-small" }
  } %>
  <%= sage_component SageLabel, {
    color: "draft",
    value: "Tag",
    icon: { style: "right", name: "tag" }
  } %>
</div>

<h5>Interactive</h5>
<div class="sage-panel__block">
  <% colors.each do | color | %>
    <%= sage_component SageLabel, {
      color: color,
      interactive: true,
      value: color.capitalize,
      icon: { style: "right", name: "caret-down" }
    } %>
  <% end %>
</div>
