<%
colors = [
  "draft",
  "info",
  "success",
  "warning",
  "danger"
]
%>

<h5>Default</h5>
<% colors.each do | color | %>
  <%= render "examples/elements/label/markup",
  color: color
  %>
<% end %>

<h5>Subtle</h5>
<% colors.each do | color | %>
  <%= render "examples/elements/label/markup",
  color: color,
  type: "subtle"
  %>
<% end %>

<h5>Bold</h5>
<% colors.each do | color | %>
  <%= render "examples/elements/label/markup",
  color: color,
  type: "bold"
  %>
<% end %>

<h5>With Icons</h5>
<div style="display: grid; grid-gap: 4px; grid-auto-columns: max-content; grid-auto-flow: column;">
  <%= render "examples/elements/label/markup",
    color: "draft",
    icon_left: "add-small"
  %>
  <%= render "examples/elements/label/markup",
    color: "draft",
    icon_right: "tag"
  %>
</div>

<h5>Interactive</h5>

<a href="#" class="sage-label sage-label--interactive sage-label--draft sage-label--icon-right-caret-down">
  Draft
</a>

<a href="#" class="sage-label sage-label--interactive sage-label--info sage-label--icon-right-caret-down">
  Drip
</a>

<a href="#" class="sage-label sage-label--interactive sage-label--success sage-label--icon-right-caret-down">
  Published
</a>

<a href="#" class="sage-label sage-label--interactive sage-label--warning sage-label--icon-right-caret-down">
  Warning
</a>

<a href="#" class="sage-label sage-label--interactive sage-label--danger sage-label--icon-right-caret-down">
  Locked
</a>
