<%
## View variables

# Globals
site_kajabi_default_subdomain = "www.daydreamsurfshop.mykajabi.com"
site_custom_domain = "daydreamsurfshop.com"
# connection_status = "in_progress"
connection_status = "connected"

# Local content
header = {
  title: "Domain",
  breadcrumbs: [{
    text: "Settings",
    url: "#"
  }]
}
button_configs_add_custom_domain = {
  style: "primary",
  icon:{ name: "add", style: "left" },
  value: "Custom Domain"
}
panel_default_subdomain = {
  title: site_kajabi_default_subdomain,
  edit_path: "#",
  body: %(
    <p class="t-sage--color-charcoal-200">
      This is the default subdomain connected to your Kajabi site.
      All sites are given a Kajabi subdomain that you can replace
      with a custom domain you already own
      or purchase a new one through Kajabi.
    </p>
  ),
  badge: sage_component(SageLabel, { value: "Kajabi Default", style: "info" })
}

%>

<%= sage_component SageContainer, { size: "lg" } do %>
  <%= sage_component SagePageHeading, { title: header[:title], spacer: { bottom: :lg }} do %>
    <% content_for :sage_breadcrumbs do %>
      <%= sage_component SageBreadcrumbs, { items: header[:breadcrumbs], has_back_icon: true } %>
    <% end %>
    <% content_for :sage_page_heading_toolbar do %>
      <%= render "pages/mocks/custom_domain/shared/dns_settings_button" %>
    <% end %>
  <% end %>
  <div class="sage-row sage-row--stage">
    <div class="sage-col-8">
      <%= render "pages/mocks/custom_domain/shared/domain_status_alert", status: connection_status %>
      <div class="sage-panel-set">
        <%= sage_component SagePanel, {} do %>
          <%= sage_component SageCardRow, {
            grid_template: "ite"
          } do %>
            <%= render "pages/mocks/custom_domain/shared/domain_status_header",
              status: connection_status,
              custom_domain: site_custom_domain
            %>
            <%= render "pages/mocks/custom_domain/shared/option_menu" %>
          <% end %>

          <%= sage_component SagePanelDivider, { bleed: true } %>

          <%= sage_component SageCard, {} do %>
            <%= sage_component SageTable, {
              headers: [
                "Subdomains"
              ],
              reset_above: true,
              reset_below: true,
              rows: [
                [
                  "www.daydreamsurfshop.mykajabi.com",
                  sage_component(SageLabel, {
                    value: "Connected",
                    style: "success"
                    # Alternate options...
                    #value: "Connection in progress...",
                    #style: "warning"
                    #value: "Connection failed",
                    #style: "danger"
                  }),
                  { 
                    value: render("pages/mocks/custom_domain/shared/edit_button", href: "#edit"),
                    html_attributes: {
                      class: "sage-table-cell--align-right"
                    }
                  }
                ]
              ]
            } %>
          <% end %>
        <% end %>
        <%= sage_component SagePanel, {} do %>
          <%= sage_component SagePanelHeader, { title: "Marketing Email Domain" } %>
          <i>Content TBD</i>
        <% end %>
      </div>
    </div>
    <div class="sage-col-4">
      <%= sage_component SagePanel, {} do %>
        <%= sage_component SagePanelHeader, { title: "Registrar Information" } do %>
          <%= render "pages/mocks/custom_domain/shared/info_button", href: "#help-2" %>
        <% end %>
        <%= sage_component SagePanelBlock, { type_block: true } do %>
          <p>
            Your domain settings can now be updated or modified inside Kajabi.
            However, paying for your domain and renewing it will still happen with your original domain registrar (Godaddy).
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
