<%
## View variables

# Globals
site_kajabi_default_subdomain = "www.daydreamsurfshop.mykajabi.com"
site_custom_domain = "daydreamsurfshop.com"
# connection_status = "in_progress"
connection_status = "connected"

# Local content
header = {
  title: "Domain",
  breadcrumbs: [{
    text: "Settings",
    url: "#"
  }]
}
button_configs_add_custom_domain = {
  style: "primary",
  icon:{ name: "add", style: "left" },
  value: "Custom Domain"
}
default_subdomain_badge = sage_component(SageLabel, { value: "Kajabi Default", style: "info" })
subdomain_rows = [
  [
    site_kajabi_default_subdomain,
    default_subdomain_badge,
    { 
      value: render("pages/mocks/custom_domain/shared/edit_button", href: "#edit"),
      html_attributes: { class: "sage-table-cell--align-right" }
    }
  ],
  #[
    #"otherdomains...",
    #sage_component(SageLabel, {
      #value: "Connected",
      #style: "success"
      # Alternate options...
      #value: "Connection in progress...",
      #style: "warning"
      #value: "Connection failed",
      #style: "danger"
    #}),
    #{ 
      #value: render("pages/mocks/custom_domain/shared/dns_settings_button_inline"),
      #html_attributes: { class: "sage-table-cell--align-right" }
    #}
  #]
]

%>
<%= sage_component SageContainer, { size: "xs" } do %>
  <%= sage_component SagePageHeading, { title: header[:title], spacer: { bottom: :lg }} do %>
    <% content_for :sage_breadcrumbs do %>
      <%= sage_component SageBreadcrumbs, { items: header[:breadcrumbs], has_back_icon: true } %>
    <% end %>
  <% end %>
  <div class="sage-panel-set">
    <%= render "pages/mocks/custom_domain/shared/domain_status_alert", status: connection_status %>
    <%= render "pages/mocks/custom_domain/shared/main_domain_after_setup", 
      custom_domain: site_custom_domain,
      connection_status: connection_status,
      subdomain_rows: subdomain_rows
    %>
  </div>
<% end %>
