<%
## View variables

# Content helpers
option_menu_cell = {
  value: render("pages/mocks/custom_domain/shared/option_menu"),
  html_attributes: {
    class: "sage-table-cell--align-right"
  }
}

# Local content
header = {
  title: "DNS Settings",
  breadcrumbs: [{
    text: "Domain",
    url: "#"
  }, {
    text: "DNS Settings",
    url: "#"
  }]
}
advanced_settings_block = %(
  <h4>Advanced Settings</h5>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Enim, arcu, egestas adipiscing aliquam suspendisse arcu malesuada donec.
    Aliquam pulvinar lectus id nunc faucibus.
    Egestas in mauris arcu.
  </p>
)
nameservers_block = %(
  <h4>Nameservers</h5>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Enim, arcu, egestas adipiscing aliquam suspendisse arcu malesuada donec.
  </p>
)
default_nameservers_info = %(
  <p>Your site is using Kajabi’s default nameservers.</p>
)

dns_records_settings = [
  {
    title: "Subdomains",
    table_headers: ["Name", "Status"],
    table_rows: [
      [
        "www.daydreamsurfshop.mykajabi.com",
        sage_component(SageLabel, {
          color: "success",
          value: "Connected"
        }),
        option_menu_cell
      ]
    ]
  },
  {
    title: "A Record",
    table_headers: ["Name", "Points to"],
    table_rows: [
      [
        "@",
        "23.222.38.65",
        option_menu_cell
      ]
    ]
  },
  {
    title: "CNAME Record",
    table_headers: ["Name", "Points to"],
    table_rows: [
      [
        "www",
        "endpoint.mykajabi.com",
        option_menu_cell
      ]
    ]
  },
  {
    title: "MX Record",
    table_headers: ["Name", "Points to", "Priority"],
    table_rows: [
      [
        "@",
        "mx.daydreamsurfshop.com",
        "1",
        option_menu_cell
      ]
    ]
  },
  {
    title: "TXT Record",
    table_headers: ["Name", "Points to"],
    table_rows: [
      [
        "www",
        "endpoint.mykajabi.com",
        option_menu_cell
      ]
    ]
  }
]

%>
<%= sage_component SageContainer, { size: "lg" } do %>
  <%= sage_component SagePageHeading, { title: header[:title], spacer: { bottom: :lg }} do %>
    <% content_for :sage_breadcrumbs do %>
      <%= sage_component SageBreadcrumbs, { items: header[:breadcrumbs] } %>
    <% end %>
    <% content_for :sage_page_heading_actions do %>
      <%= sage_component SageButton, { 
        style: "primary",
        icon: { name: "add", style: "left" },
        value: "Create New",
      } %>
    <% end %>
  <% end %>
  <div class="sage-row sage-row--stage">
    <div class="sage-col-4 sage-type">
      <%= advanced_settings_block.html_safe %>
    </div>
    <div class="sage-col-8">
      <%= sage_component SagePanel, {} do %>
        <%= sage_component SagePanelHeader, { title: "DNS Records" } %>

        <% dns_records_settings.each do | configs | %>
          <%= sage_component SagePanelSubheader, { title: configs[:title] } %>
          <%= sage_component SageCard, {} do %>
            <%= sage_component SageTable, {
              reset_above: true,
              reset_below: true,
              headers: configs[:table_headers],
              rows: configs[:table_rows]
            } %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="sage-row sage-row--stage">
    <div class="sage-col-4 sage-type">
      <%= nameservers_block.html_safe %>
    </div>
    <div class="sage-col-8">
      <%= sage_component SagePanel, {} do %>
        <%= sage_component SagePanelHeader, { title: "Kajabi Nameservers" } %>
        <%= sage_component SagePanelBlock, { type_block: true } do %>
          <%= default_nameservers_info.html_safe %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
