<div class="docs-container">
  <div class="sage-media">
    <div class="sage-media-body">
      <h2 id="object-<%= title %>" class="t-sage-heading-2 example__title"><%= link_to pages_object_url(title: title, description: description), class: "example__link" do %><%= title.titleize %><% end %></h2>
    </div>
    <%= link_to pages_breakout_url(type: :object, title: title), target: "_blank", class: "example__link example__link--breakout" do %>
      <i class="sage-icon-launch" aria-hidden="true"></i><span class="visually-hidden">Opens <%= title.titleize %> in a new window</span>
    <% end %>
  </div>
  <div class="example__preview sage-type">
    <%= render "examples/objects/#{title}/preview" %>
  </div>
</div>
