<div class="sage-panel
  <%= "sage-panel--accordion" if defined?(is_accordion) && is_accordion %>
  <%= "sage-panel--#{style}" if defined?(style) %>
  <%= "sage-panel--#{color}" if defined?(color) %>
  <%= "sage-panel--#{size}" if defined?(size) %>
">
  <% if defined?(is_accordion) && is_accordion %>
    <div class="sage-panel__header" data-js-accordion="header">
      <h4 class="sage-panel__title"><%= header %></h4>
    </div>
    <div class="sage-panel__body" data-js-accordion="body"><%= body.html_safe %></div>
  <% else %>
    <div class="sage-panel__header">
      <%= header %>
      <aside class="sage-panel__header-aside">
        Header aside
      </aside>
    </div>
    <div class="sage-panel__body"><%= body.html_safe %></div>
  <% end %>

  <% if defined?(footer) %>
    <div class="sage-panel__footer"><%= footer %></div>
  <% end %>
</div>
