<div class="sage-panel
  <%= "sage-panel--accordion" if defined?(is_accordion) && is_accordion %>
  <%= "sage-panel--#{style}" if defined?(style) %>
  <%= "sage-panel--#{color}" if defined?(color) %>
  <%= "sage-panel--#{size}" if defined?(size) %>
">
  <div
    class="sage-panel__header"
    <%= "data-js-accordion=\"header\"" if defined?(is_accordion) && is_accordion %>
  >
    <%= header.html_safe if defined?(header) %>
    <% if defined?(header_aside) %>
      <aside class="sage-panel__header-aside">
        <%= header_aside.html_safe %>
      </aside>
    <% end %>
  </div>
  <div
    class="sage-panel__body"
    <%= "data-js-accordion=\"body\"" if defined?(is_accordion) && is_accordion %>
  >
    <%= body.html_safe %>
  </div>
  <% if defined?(footer) %>
    <div class="sage-panel__footer"><%= footer %></div>
  <% end %>
</div>
