<!DOCTYPE html>
<html>
<head>
  <title>Sage</title>
  <%= stylesheet_link_tag "sage", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="sage-page">
    <div class="sage-sidebar">
      <div class="sage-sidebar-body">
        <%= image_tag("sage/logo.svg")%>
        <div class="sage-nav">
          <a class="sage-nav-link" href="">
            <i class="icon-Settings"></i>
            Introduction
          </a>
          <a class="sage-nav-link" href="">
            <i class="icon-Settings"></i>
            Core
          </a>
          <a class="sage-nav-link-sub" href="#">Colors</a>
          <a class="sage-nav-link-sub" href="#">Typography</a>
          <a class="sage-nav-link-sub" href="#">Grid</a>
          <a class="sage-nav-link-sub" href="#">Container</a>
          <a class="sage-nav-link-sub" href="#">Icon</a>
          <a class="sage-nav-link" href="#">
            <i class="icon-Settings"></i>
            Elements
          </a>
          <a class="sage-nav-link-sub" href="#">Button</a>
          <a class="sage-nav-link" href="#">
            <i class="icon-Settings"></i>
            Components
          </a>
          <a class="sage-nav-link-sub" href="#">Card</a>
          <a class="sage-nav-link" href="#">
            <i class="icon-Settings"></i>
            Modules
          </a>
          <a class="sage-nav-link-sub" href="#">Sidebar</a>
          <a class="sage-nav-link-sub" href="#">Nav</a>
          <a class="sage-nav-link-sub" href="#">Assistant</a>
          <a class="sage-nav-link-sub" href="#">Content</a>
        </div>
      </div>
    </div>
    <div class="sage-stage">
      <div class="sage-assistant">
        <div class="sage-assistant-body"></div>
        <div class="sage-assistant-actions">
          <%= link_to "View On Github", "https://github.com/Kajabi/sage", class: "sage-btn-primary" %>
        </div>
      </div>
      <div class="sage-content">
        <div class="sage-container">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
