<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render "meta" %>
    <%= render "styles" %>
  </head>
  <body class="sage-page sage-docs">
    <header class="sage-header">
      <%= render "assistant" %>
    </header>
    <div class="sage-stage">
      <%= render "sidebar" %>
      <div class="sage-content">
        <div class="sage-container--lg">
          <div class="sage-row">
            <div class="sage-col--lg-9 sage-type">
              <%= yield :heading %>
            </div>
          </div>
          <div class="sage-row">
            <div class="sage-col--lg-9">
              <%= yield %>
            </div>
            <div class="sage-col--lg-3"><%= yield :quick_links %></div>
          </div>
        </div>
      </div>
      <div class="sage-overlay" aria-hidden="true"></div>
    </div>
    <%= render "scripts" %>
  </body>
</html>
