<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sage</title>
  <%= stylesheet_link_tag "sage", media: "all" %>
  <%= stylesheet_link_tag "sage_docs", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body class="sage-page">
  <%= render "assistant" %>
  <div class="sage-stage">
    <input type="checkbox" id="sage-sidebar__toggle" class="sage-sidebar__checkbox" />
    <%= render "sidebar" %>
    <div class="sage-content">
      <div class="sage-container">
        <div class="sage-row">
          <div class="sage-col--7">
            <%= yield :heading %>
          </div>
        </div>
        <div class="sage-row">
          <div class="sage-col--8">
            <%= yield %>
          </div>
          <div class="sage-col--4">
            <%= yield :quick_links %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= javascript_include_tag "https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js", :async => true %>
  <%= javascript_include_tag "application" %>
</body>
</html>
