<!DOCTYPE html>
<html>
<head>
  <title>Sage</title>
  <%= stylesheet_link_tag "sage", media: "all" %>
  <%= stylesheet_link_tag "sage_docs", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body class="sage-page">
  <%= render "modules/sidebar" %>
  <div class="sage-stage">
    <%= render "modules/assistant" %>
    <div class="sage-content">
      <div class="sage-container-sm">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
