<!DOCTYPE html>
<html>
<head>
  <title>Sage</title>
  <%= stylesheet_link_tag "sage", media: "all" %>
  <%= stylesheet_link_tag "sage_docs", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="sage-page">
    <div class="sage-sidebar">
      <div class="sage-sidebar-body">
        <%= image_tag("sage/logo.svg")%>
        <div class="sage-nav">
          <%= link_to pages_index_url, class: "sage-nav-link" do %>
            <i class="sage-icon-Settings"></i>
            Introduction
          <% end %>
          <%= link_to pages_color_url, class: "sage-nav-link" do %>
            <i class="sage-icon-Settings"></i>
            Core
          <% end %>
          <%= link_to "Color", pages_color_url, class: "sage-nav-link-sub" %>
          <%= link_to "Typography", pages_typography_url, class: "sage-nav-link-sub" %>
          <%= link_to "Grid", pages_grid_url, class: "sage-nav-link-sub" %>
          <%= link_to "Container", pages_container_url, class: "sage-nav-link-sub" %>
          <%= link_to "Icon", pages_icon_url, class: "sage-nav-link-sub" %>
          <%= link_to pages_elements_url, class: "sage-nav-link" do %>
            <i class="sage-icon-Settings"></i>
            Elements
          <% end %>
          <a class="sage-nav-link-sub" href="#">Button</a>
          <%= link_to pages_components_url, class: "sage-nav-link" do %>
            <i class="sage-icon-Settings"></i>
            Components
          <% end %>
          <a class="sage-nav-link-sub" href="#">Card</a>
          <%= link_to pages_modules_url, class: "sage-nav-link" do %>
            <i class="sage-icon-Settings"></i>
            Modules
          <% end %>
          <a class="sage-nav-link-sub" href="#">Sidebar</a>
          <a class="sage-nav-link-sub" href="#">Nav</a>
          <a class="sage-nav-link-sub" href="#">Assistant</a>
          <a class="sage-nav-link-sub" href="#">Content</a>
        </div>
      </div>
    </div>
    <div class="sage-stage">
      <div class="sage-assistant">
        <div class="sage-assistant-body"></div>
        <div class="sage-assistant-actions">
          <%= link_to "View On Github", "https://github.com/Kajabi/sage", class: "sage-btn-primary" %>
        </div>
      </div>
      <div class="sage-content">
        <div class="sage-container">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
