<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sage</title>
    <%= render "meta" %>
    <%= stylesheet_link_tag "sage/sage_system", media: "all" %>
    <%= stylesheet_link_tag "sage/sage_docs", media: "all" %>
    <%= csrf_meta_tags %>
  </head>
  <body class="sage-page sage-docs">
    <header class="sage-header">
      <%= render "assistant" %>
    </header>
    <div class="sage-stage">
      <%= render "sidebar" %>
      <div class="sage-content">
        <div class="sage-container--lg">
          <div class="sage-row">
            <div class="sage-col--lg-9 sage-type">
              <%= yield :heading %>
            </div>
          </div>
          <div class="sage-row">
            <div class="sage-col--lg-9">
              <%= yield %>
            </div>
            <div class="sage-col--lg-3"><%= yield :quick_links %></div>
          </div>
        </div>
      </div>
      <div class="sage-overlay" aria-hidden="true"></div>
    </div>
    <script src="//cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
    <%= javascript_include_tag "sage/sage_system", :cache => true %>
    <%= javascript_include_tag "sage/sage_docs", :cache => true %>
  </body>
</html>
