<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render "meta" %>
    <%= render "styles" %>
  </head>
  <body class="sage-page sage-docs sage-page--breakout">
    <%= render "content_skip" -%>
    <header class="sage-header">
      <%= render "assistant",
        menu_button: false
      -%>
    </header>
    <div class="sage-stage">
      <main class="sage-content" id="main-content">
        <div class="sage-container--sm">
          <div class="sage-row">
            <div class="sage-col-12 sage-type">
              <%= yield :heading %>
            </div>
          </div>
          <%= yield %>
        </div>
      </main>
    </div>
    <div class="sage-overlay" aria-hidden="true"></div>
    <%= render "scripts" %>
  </body>
</html>
