<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sage</title>
  <%= stylesheet_link_tag "sage", media: "all" %>
  <%= stylesheet_link_tag "sage_docs", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body class="sage-page">
  <div class="sage-stage">
    <div class="sage-content">
      <div class="sage-container--sm">
        <%= image_tag("sage/sage_icon.svg", class: "sage-page__icon")%>
        <%= yield %>
      </div>
    </div>
  </div>
  <%= javascript_include_tag "https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js", :async => true %>
  <%= javascript_include_tag "application" %>
</body>
</html>
