<div class="sage-select<%= has_error ? " sage-select--error" : "" %>">
  <select name="<%= name %>" id="<%= id %>" class="sage-select__field" <%= is_required ? "required" : "" %>>
    <% select_options.each do |option| %>
    <option value="<%= option[:value] %>"<%= option[:disabled] ? " disabled" : "" %><%= option[:selected] ? " selected" : "" %>><%= option[:text] %></option>
    <% end %>
  </select>
  <label for="<%= id %>" class="sage-select__label"><%= label %></label>
  <i class="sage-select__arrow" aria-hidden="true"></i>
  <div class="sage-select__message"><%= message %></div>
</div>