<section class="sage-page-heading <%= component.generated_css_classes %>">
  <% if content_for? :sage_breadcrumbs %>
    <div class="sage-page-heading__crumbs">
      <%= content_for :sage_breadcrumbs %>
    </div>
  <% end %>
  <h1 class="sage-page-heading__title">
    <%= component.title %>
    <% if component.help_link.present? %> 
      <a href="<%= component.help_link[:url] %>" class="sage-link--no-launch sage-link--help-icon-only" target="_blank" referrer="no-referrer">
        <span class="visually-hidden">
          <%= component.help_link[:label] %>
        </span>
      </a>
    <% end %>
    <% if component.help_content %> 
      <%= sage_component SageButton, {
        value: "Open Menu",
        style: "secondary",
        subtle: true,
        icon: {
          style: "only",
          name: "question-circle"
        },
        attributes: {
          'aria-haspopup': true,
          'aria-controls': 'sage-tooltip',
          'aria-expanded': false,
          'data-js-tooltip-trigger': '',
          'data-js-popover': ''
        },
      } %>
    <% end %>
  </h1>
  <% if content_for? :sage_help_content %>
    <div id="sage-tooltip" data-js-tooltip-content class="sage-page-heading-tooltip__wrapper">
      <div class="sage-page-heading-tooltip">
        <div class="sage-page-heading-tooltip__eyebrow">
          LEARN <span role="img" aria-hidden="true">🧠</span>
        </div>
        <div class="sage-page-heading-tooltip__title">
          <%= component.help_title %>
        </div>
        <div class="sage-page-heading-tooltip__body">
          <%= content_for :sage_help_content %>
        </div>
        <div class="sage-page-heading-tooltip__actions">
          <%= sage_component SageButton, {
            value: "Learn More",
            style: "primary",
            icon: {
              style: "right",
              name: "launch"
            },
            subtle: true,
            small: true
          } %>
        </div>
      </div>
    </div>
  <% end %>
  <% if content_for? :sage_page_heading_actions %>
    <div class="sage-page-heading__actions">
      <%= content_for :sage_page_heading_actions %>
    </div>
  <% end %>
  <% if content_for? :sage_page_heading_toolbar %>
    <div class="sage-page-heading__toolbar">
      <%= content_for :sage_page_heading_toolbar %>
    </div>
  <% end %>
  <% if component.secondary_text.present? %>
    <div class="sage-page-heading__secondary">
      <p><%= component.secondary_text %></p>
    </div>
  <% end %>
</section>
