<div class="
  sage-table-wrapper
  <%= "sage-table-wrapper--reset-above" if component.reset_above %>
  <%= "sage-table-wrapper--reset-below" if component.reset_below %>
">
  <% if component.responsive %>
    <div class="sage-table-wrapper__overflow">
  <% end %>

  <table class="
      sage-table
      <%= "sage-table--striped" if component.striped %>
      <%= "sage-table--selectable" if component.selectable %>
      <%= "sage-table--condensed" if component.condensed %>
      <%= "sage-table--sortable" if component.sortable %>
    "
  >
    <% if component.caption.present? %>
      <caption><%= caption.html_safe %></caption>
    <% end %>
    <% if component.headers.present? %>
      <thead>
        <tr>
          <% component.headers.each do  | header | %>
            <th
              <% if header[:html_attributes].present? %>
                <% header[:html_attributes].each do | key, value | %>
                  <%= "#{key}=#{value}" %>
                <% end %>
              <% end %>
            >
              <%= header[:value].html_safe %>
            </th>
          <% end %>
        </tr>
      </thead>
    <% end %>
    <tbody>
      <% if component.rows.present? %>
        <% component.rows.each do | row | %>
          <tr>
            <% if row.is_a? Array %>
              <% row.each do | cell | %>
                <td><%= cell %></td>
              <% end %>
            <% elsif row.is_a? Object %>
              <% row.each do | key, value | %>
                <td data-cell-key="<%= key %>"><%= value %></td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <% if component.responsive %>
    </div>
  <% end %>
</div>
