<section class="sage-page-heading">
  <% if component.back_text.present? %>
  <div class="sage-page-heading__crumbs">
    <%= render "examples/elements/breadcrumbs/markup",
      klass: "sage-page-heading__back",
      has_back_icon: true,
      items: [{
      text: component.back_text,
      url: component.back_url
    }]
    %>
  </div>
  <% end %>
  <div class="sage-page-heading__title">
    <h1 class="t-sage-heading-1"><%= component.title %><% if component.help_link.present? %> <a href="<%= component.help_link[:url] %>" class="sage-link--no-launch sage-link--help-icon-only" target="_blank" referrer="no-referrer"><span class="visually-hidden"><%= component.help_link[:label] %></span></a><% end %></h1>
  </div>
  <% if component.title_intro.present? %>
    <p class="sage-page-heading__intro"><%= component.title_intro %></p>
  <% end %>
  <% if component.actions.present? %>
  <div class="sage-page-heading__actions">
    <%- component.actions.each do |action| -%>
      <%= action %>
    <%- end -%>
  </div>
  <% end %>
  <% if component.toolbar_items.any? %>
    <div class="sage-page-heading__toolbar">
    <%- component.toolbar_items.each do |item| -%>
      <a href="<%= item[:url] %>" class="<%= "sage-page-heading__toolbar-icon-#{item[:icon]}" if defined?(item[:icon]) %>"><%= item[:text] %></a>
    <%- end -%>
    </div>
  <% end %>
  <% if component.secondary_text.present? %>
    <div class="sage-page-heading__secondary">
      <p><%= component.secondary_text %></p>
    </div>
  <% end %>
</section>

