<h3 class="t-sage-heading-6">Standalone Page Heading</h3>

<%= render "examples/objects/page_heading/markup",
  page_title: "Page Title",
  back_icon: "",
  back_text: "",
  back_url: "",
  help_link: {},
  action_links: [],
  primary_text: {},
  secondary_text: ""
%>

<h3 class="t-sage-heading-6">Page Heading w/ Help Link</h3>

<%= render "examples/objects/page_heading/markup",
  page_title: "Page Title",
  back_icon: "",
  back_text: "",
  back_url: "",
  help_link: {
    url: "#",
    label: "Help"
  },
  action_links: [],
  primary_text: {},
  secondary_text: ""
%>

<h3 class="t-sage-heading-6">Page Heading w/ Back Link</h3>

<%= render "examples/objects/page_heading/markup",
  page_title: "Page Title",
  back_icon: "sage-icon-caret-left",
  back_text: "Back to Something",
  help_link: {},
  back_url: "#",
  action_links: [],
  primary_text: {},
  secondary_text: ""
%>

<h3 class="t-sage-heading-6">Page Heading w/ Action Links</h3>

<%= render "examples/objects/page_heading/markup",
  page_title: "Page Title",
  back_icon: "",
  back_text: "",
  back_url: "",
  help_link: {},
  action_links: [
    {
      text: "Preview",
      icon: "preview-on",
      url: "#",
    },
    {
      text: "Report",
      icon: "chart",
      url: "#",
    },
    {
      text: "Settings",
      icon: "gear",
      url: "#",
    },
  ],
  primary_text: {},
  secondary_text: ""
%>

<h3 class="t-sage-heading-6">Standalone Page Heading w/ Action Links + Secondary</h3>

<%= render "examples/objects/page_heading/markup",
  page_title: "Page Title",
  back_icon: "",
  back_text: "",
  back_url: "",
  help_link: {},
  action_links: [
    {
      text: "Preview",
      icon: "preview-on",
      url: "#",
    },
    {
      text: "Report",
      icon: "chart",
      url: "#",
    },
    {
      text: "Settings",
      icon: "gear",
      url: "#",
    },
  ],
  primary_text: {},
  secondary_text: "3 emails in Sequence"
%>

<h3 class="t-sage-heading-6">Standalone Page Heading w/ Help Text</h3>

<%= render "examples/objects/page_heading/markup",
  page_title: "Page Title",
  back_icon: "",
  back_text: "",
  back_url: "",
  help_link: {},
  action_links: {},
  primary_text:  {
    text: "This is a paragraph of help text to provide addition info when needed.",
    text_size: "",
  },
  secondary_text: ""
%>
