<div class="sage-live-stream-demo-wrapper">
  <%= render "sage/examples/objects/live_stream_control/markup", 
    modifiers: '', 
    label: 'Button label', 
    icon: 'microphone',
    isPill: false
  %>

  <!-- Inactive variation -->
  <%= render "sage/examples/objects/live_stream_control/markup", 
    modifiers: 'sage-live-stream-control--inactive',
    label: 'Button label', 
    icon: 'microphone-off',
    isPill: false
  %>

  <!-- Flat variation -->
  <%= render "sage/examples/objects/live_stream_control/markup", 
    modifiers: 'sage-live-stream-control--flat',
    label: 'Button label', 
    icon: 'microphone',
    isPill: false
  %>

  <!-- Start/stop variation -->
  <%= render "sage/examples/objects/live_stream_control/markup", 
    modifiers: 'sage-live-stream-control--start',
    label: 'Stop recording', 
    icon: 'play',
    isPill: false
  %>
  <%= render "sage/examples/objects/live_stream_control/markup", 
    modifiers: 'sage-live-stream-control--stop',
    label: 'Start recording', 
    icon: 'stop',
    isPill: false 
  %>

  <!-- Pill variation -->
  <%= render "sage/examples/objects/live_stream_control/markup", 
    modifiers: 'sage-live-stream-control--pill',
    label: '324', 
    icon: 'users',
    isPill: true 
  %>
</div>