<% props_content = render partial: "sage/examples/objects/#{@title}/props" %>
<% do_content = render partial: "sage/examples/objects/#{@title}/rules_do" %>
<% dont_content = render partial: "sage/examples/objects/#{@title}/rules_dont" %>

<%= render "sage/examples/shared/heading" %>

<%= render "sage/examples/shared/quick_links",
  props_content: props_content,
  do_content: do_content,
  dont_content: dont_content %>

<div class="sage-panel">
  <h2 id="<%= @title %>-example-preview" class="t-sage-heading-2 example__title">Preview</h2>
  <div class="example__preview example__preview--page">
    <%= render "sage/examples/objects/#{@title}/preview" %>
  </div>
</div>

<div class="sage-panel">
  <h2 id="<%= @title %>-example-code" class="t-sage-heading-2 example__title">Code</h2>
  <div class="example__code">
    <button class="example__expand-btn" aria-expanded="false" aria-controls="example-code-<%= @title %>">Expand this code snippet</button>
    <div id="example-code-<%= @title %>" class="sage-code-snippet" tabindex="-1">
      <pre class="prettyprint"><code><%= CGI.unescapeHTML(CGI.escapeHTML render "sage/examples/objects/#{@title}/preview") %></code></pre>
    </div>
  </div>
</div>

<%= render "sage/examples/shared/props",
  props_content: props_content,
  do_content: do_content,
  dont_content: dont_content %>

<%= render "sage/examples/shared/rules",
  props_content: props_content,
  do_content: do_content,
  dont_content: dont_content %>
