<% info_content = sage_elements.select { |element| element[:title] == @title }[0] %>
<% props_content = render partial: "examples/elements/#{@title}/props" %>
<% do_content = render partial: "examples/elements/#{@title}/rules_do" %>
<% dont_content = render partial: "examples/elements/#{@title}/rules_dont" %>

<%= render "examples/shared/heading", info_content: info_content %>

<%= render "examples/shared/quick_links",
  props_content: props_content,
  do_content: do_content,
  dont_content: dont_content %>

<div class="docs-container">
  <h2 id="<%= @title %>-example-preview" class="t-sage-heading-2 example__title">Preview</h2>
  <div class="example__preview sage-type">
    <%= render "examples/elements/#{@title}/preview" %>
  </div>
</div>

<div class="docs-container">
  <h2 id="<%= @title %>-example-code" class="t-sage-heading-2 example__title">Code</h2>
  <div class="example__code">
    <button class="example__expand-btn" aria-expanded="false" aria-controls="example-code-<%= @title %>">Expand this code snippet</button>
    <div id="example-code-<%= @title %>" class="sage-code-snippet" tabindex="-1">
      <pre class="prettyprint"><code><%= CGI.unescapeHTML(CGI.escapeHTML render "examples/elements/#{@title}/preview") %></code></pre>
    </div>
  </div>
</div>

<%= render "examples/shared/props",
  props_content: props_content,
  do_content: do_content,
  dont_content: dont_content %>

<%= render "examples/shared/rules",
  props_content: props_content,
  do_content: do_content,
  dont_content: dont_content %>
