<% permalink = "element-#{title}" %>


<h2 id="<%= permalink %>" class="t-sage-heading-3">
  <%= title.titleize %>
  <%= link_to pages_element_path(title), class: "sage-btn sage-btn--tertiary sage-btn--icon-only-preview-on", data: { "js-tooltip": "Inspect element details" } do %>
    <span class="visually-hidden">Opens <%= title.titleize %></span>
  <% end %>
</h2>
<p><%= description %></p>
<%= render "examples/elements/#{title}/preview" %>