<div class="docs-container">
  <div class="sage-media">
    <h2 id="element-<%= title %>" class="sage-media-body t-sage-heading-2 example__title">
      <%= link_to title.titleize, pages_element_path(title), class: "example__link"%>
    </h2>
    <%= link_to pages_breakout_path(type: :element, title: title), target: "_blank", class: "example__link example__link--breakout" do %>
      <i class="sage-icon-launch" aria-hidden="true"></i><span class="visually-hidden">Opens <%= title.titleize %> in a new window</span>
    <% end %>
  </div>
  <div class="example__preview sage-type">
    <%= render "examples/elements/#{title}/preview" %>
  </div>
</div>
