<%
footer_aligns_right = defined?(footer_aligns_right) && footer_aligns_right
%>
<div class="sage-card<%= " sage-card--#{single_block_type}" if defined?(single_block_type) %><%= " sage-grid-template-b-#{single_block_template}" if defined?(single_block_template) %>">
  <% if defined?(title) || defined?(header_other) %>
    <div class="sage-card__header">
      <% if defined?(title) %>
        <h2 class="sage-card__title"><%= title %></h2>
      <% end %>
      <%= header_other.html_safe if defined?(header_other) %>
    </div>
  <% end %>
  <%= body.html_safe if defined?(body) %>
  <% if defined?(footer) %>
    <div class="sage-card__footer<%= " sage-card__footer--align-right" if footer_aligns_right %>">
      <%= footer.html_safe %>
    </div>
  <% end %>
</div>
