<div class="sage-row">
  <div class="sage-col--md-6">
    <%= render "examples/objects/card/markup",
      is_center: false,
      is_compact: false,
      is_spaced: false,
      title: "Card w/ Image",
      text: "Diam in auctor sit quam laoreet imperdiet aliquam. Habitant nunc lacus semper lacus, nec a, sit enim.",
      action_text: "Action Button",
      action_style_primary: true,
      action_style_tertiary: false,
      has_img: true,
      img_path: "docs/card/card-placeholder-lg.png",
      img_alt: "Alternative text for image"
    %>
  </div>
  <div class="sage-col--md-6">
    <%= render "examples/objects/card/markup",
      is_center: false,
      is_compact: false,
      is_spaced: false,
      title: "Card w/ Image",
      text: "Diam in auctor sit quam laoreet imperdiet aliquam. Habitant nunc lacus semper lacus, nec a, sit enim.",
      action_text: "Action Button",
      action_style_primary: false,
      action_style_tertiary: true,
      has_img: true,
      img_path: "docs/card/card-placeholder-lg.png",
      img_alt: "Alternative text for image"
    %>
  </div>
  <div class="sage-col--md-12">
    <%= render "examples/objects/card/markup",
      is_center: false,
      is_compact: true,
      is_spaced: false,
      title: "Compact Card w/ Image",
      text: "Diam in auctor sit quam laoreet imperdiet aliquam. Habitant nunc lacus semper lacus, nec a, sit enim.",
      action_text: "Action Button",
      action_style_primary: true,
      action_style_tertiary: false,
      has_img: true,
      img_path: "docs/card/card-placeholder-sm.png",
      img_alt: "Alternative text for image"
    %>
    <%= render "examples/objects/card/markup",
      is_center: false,
      is_compact: true,
      is_spaced: false,
      title: "Compact Card w/ Image",
      text: "Diam in auctor sit quam laoreet imperdiet aliquam. Habitant nunc lacus semper lacus, nec a, sit enim.",
      action_text: "Action Button",
      action_style_primary: false,
      action_style_tertiary: true,
       has_img: true,
      img_path: "docs/card/card-placeholder-sm.png",
      img_alt: "Alternative text for image"
    %>
  </div>
  <div class="sage-col--md-6">
    <%= render "examples/objects/card/markup",
      is_center: false,
      is_compact: false,
      is_spaced: true,
      title: "Spaced Card w/ Image",
      text: "Diam in auctor sit quam laoreet imperdiet aliquam. Habitant nunc lacus semper lacus, nec a, sit enim.",
      action_text: "Action Button",
      action_style_primary: true,
      action_style_tertiary: false,
      has_img: true,
      img_path: "docs/card/card-placeholder-lg.png",
      img_alt: "Alternative text for image"
    %>
  </div>
  <div class="sage-col--md-6">
    <%= render "examples/objects/card/markup",
      is_center: false,
      is_compact: false,
      is_spaced: true,
      title: "Spaced Card w/ Image",
      text: "Diam in auctor sit quam laoreet imperdiet aliquam. Habitant nunc lacus semper lacus, nec a, sit enim.",
      action_text: "Action Button",
      action_style_primary: false,
      action_style_tertiary: true,
       has_img: true,
      img_path: "docs/card/card-placeholder-lg.png",
      img_alt: "Alternative text for image"
    %>
  </div>
  <div class="sage-col--md-12">
    <%= render "examples/objects/card/markup",
      is_center: false,
      is_compact: true,
      is_spaced: true,
      title: "Spaced & Compact w/ Image",
      text: "Diam in auctor sit quam laoreet imperdiet aliquam. Habitant nunc lacus semper lacus, nec a, sit enim.",
      action_text: "Action Button",
      action_style_primary: true,
      action_style_tertiary: false,
      has_img: true,
      img_path: "docs/card/card-placeholder-sm.png",
      img_alt: "Alternative text for image"
    %>
    <%= render "examples/objects/card/markup",
      is_center: false,
      is_compact: true,
      is_spaced: true,
      title: "Spaced & Compact w/ Image",
      text: "Diam in auctor sit quam laoreet imperdiet aliquam. Habitant nunc lacus semper lacus, nec a, sit enim.",
      action_text: "Action Button",
      action_style_primary: false,
      action_style_tertiary: true,
      has_img: true,
      img_path: "docs/card/card-placeholder-sm.png",
      img_alt: "Alternative text for image"
    %>
  </div>
  <div class="sage-col--md-6">
    <%= render "examples/objects/card/markup",
      is_center: false,
      is_compact: false,
      is_spaced: false,
      title: "Card w/ No Image",
      text: "Diam in auctor sit quam laoreet imperdiet aliquam. Habitant nunc lacus semper lacus, nec a, sit enim.",
      action_text: "Action Button",
      action_style_primary: true,
      action_style_tertiary: false,
      has_img: false,
      img_path: "",
      img_alt: ""
    %>
  </div>
  <div class="sage-col--md-6">
    <%= render "examples/objects/card/markup",
      is_center: false,
      is_compact: false,
      is_spaced: false,
      title: "Card w/ No Image",
      text: "Diam in auctor sit quam laoreet imperdiet aliquam. Habitant nunc lacus semper lacus, nec a, sit enim.",
      action_text: "Action Button",
      action_style_primary: false,
      action_style_tertiary: true,
      has_img: false,
      img_path: "",
      img_alt: ""
    %>
  </div>
  <div class="sage-col--md-6">
    <div class="sage-card sage-card--spaced">
      <%= image_pack_tag("docs/card/card-placeholder-sm.png", class: "sage-card__img", alt: "") %>
      <h2 class="sage-card__title t-sage-heading-5">Card w/ Rich Text and Footer</h2>
      <div class="sage-card__body sage-type">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras libero ipsum, congue a efficitur sed, <a href="#">luctus at purus</a>. Vivamus scelerisque pharetra elementum.</p>
        <ul>
          <li>Diam in auctor sit quam laoreet imperdiet aliquam. Habitant nunc lacus semper lacus, nec a, sit enim.</li>
          <li>Diam in auctor sit quam laoreet imperdiet aliquam. Habitant nunc lacus semper lacus, nec a, sit enim.</li>
        </ul>
      </div>
      <div class="sage-card__footer">
        <a href="#" class="sage-btn sage-btn--tertiary">Previous</a>
        <%= render "examples/elements/indicator/markup",
          label: "Page",
          num_items: 5,
          current_item: 2
        %>
        <a href="#" class="sage-btn sage-btn--primary">Next</a>
      </div>
    </div>
  </div>
  <div class="sage-col--md-6">
    <%= render "examples/objects/card/markup",
      is_center: true,
      is_compact: false,
      is_spaced: false,
      title: "Centered Card Text",
      text: "Diam in auctor sit quam laoreet imperdiet aliquam. Habitant nunc lacus semper lacus, nec a, sit enim.",
      action_text: "Action Button",
      action_style_primary: false,
      action_style_tertiary: true,
      has_img: false,
      img_path: "",
      img_alt: ""
    %>
  </div>
</div>
