<div class="sage-input-group sage-input-group--<%= group_button_type -%>" role="group" aria-labelledby="input-group-<%= group_button_type %>">
  <%= render "sage/examples/elements/form_input/markup",
    id: "input-group-#{ group_button_type }",
    input_type: "#{ group_button_type}",
    label_text: "#{ group_button_label }",
    placeholder: "#{ group_button_label }",
    value: "",
    required: true,
    disabled: false,
    input_mode: "",
    pattern: "",
    max: "",
    minlength: "",
    maxlength: "",
    has_error: false,
    message_text: ""
  %>
  <% if has_button %>
  <button
    class="sage-input-group__button <% if group_button_style != "" %>sage-btn <%= group_button_style %> <%- else -%>sage-input-group__toggle<% end %><% if group_button_icon %> <%= group_button_icon %><% end %>"
    <% if group_button_type == "password" %> data-js-mask="password"<% end %><% if group_button_tooltip %> data-tooltip="<%= group_button_tooltip_text %>" data-position="<% group_button_tooltip_position %>"<% if group_button_tooltip_size != "" %> data-tooltip-size="<%= group_button_tooltip_size %>"<% end %><% end %>>
    <%- if group_button_text_hidden -%><span class="visually-hidden"><% end %><%= group_button_text %><%- if group_button_text_hidden -%></span><% end %>
  </button>
  <% end %>
</div>
