<fieldset class="sage-type">

  <h3 class="t-sage-heading-6">Text (default)</h3>
  <%= render "sage/examples/elements/form_input/markup",
    id: "form__fname1",
    input_type: "text",
    label_text: "First name",
    placeholder: "First name",
    required: true,
    input_mode: "",
    max: "",
    minlength: "",
    maxlength: "",
    has_error: false,
    message_text: "This is a message"
  %>

  <h3 class="t-sage-heading-6">Text (with error modifier)</h3>
  <%= render "sage/examples/elements/form_input/markup",
    id: "form__fname2",
    input_type: "text",
    label_text: "First name",
    placeholder: "First name",
    required: true,
    input_mode: "",
    max: "",
    minlength: "",
    maxlength: "",
    has_error: true,
    message_text: "This is a message"
  %>
  <%= render "sage/examples/elements/form_input/markup",
    id: "form__lname",
    input_type: "text",
    label_text: "Last name",
    placeholder: "Last name",
    required: true,
    input_mode: "",
    max: "",
    minlength: "",
    maxlength: "",
    has_error: false,
    message_text: "This is a message"
  %>

  <h3 class="t-sage-heading-6">Email</h3>
  <%= render "sage/examples/elements/form_input/markup",
    id: "form__email",
    input_type: "email",
    label_text: "Email address",
    placeholder: "Email address",
    required: true,
    input_mode: "",
    max: "",
    minlength: "",
    maxlength: "",
    has_error: false,
    message_text: "This is a message"
  %>

  <h3 class="t-sage-heading-6">Password</h3>
  <%= render "sage/examples/elements/form_input/markup",
    id: "form__pw",
    input_type: "password",
    label_text: "Create a password (8 to 32 characters)",
    placeholder: "Create a password (8 to 32 characters)",
    required: true,
    input_mode: "",
    max: "",
    minlength: "8",
    maxlength: "32",
    has_error: false,
    message_text: ""
  %>

  <h3 class="t-sage-heading-6">Numbers</h3>
  <%= render "sage/examples/elements/form_input/markup",
    id: "form__num",
    input_type: "number",
    label_text: "Enter quantity (max 100)",
    placeholder: "Enter quantity (max 100)",
    required: true,
    input_mode: "numeric",
    max: "100",
    minlength: "",
    maxlength: "",
    has_error: false,
    message_text: ""
  %>

</fieldset>
