<%= content_for :heading do %>
  <h1>Sandbox</h1>
  <p>Use this scratchpad to test out elements and objects in context. Just be sure not to commit your changes. ❤️</p>
<% end %>

<%= sage_component SageContainer, { size: "lg" } do %>
  <%= sage_component SagePanel, {
      clear_top_padding: true,
    } do %>
    <%= sage_component SageTable, {
      responsive: true,
      # Headers can be a string or an object with a `value` attribute along with optional html_attributes
      headers: [
        "Heading 1",
        { value: %(Heading 2 <i class="sage-icon-check-circle"></i>) },
        { value: "Heading 3", html_attributes: { id: "heading-3", class: "sage-col--sm-hide" } }
      ],
      # Rows can be an array of values or an object.
      # If an object, the assigned values will be displayed in the cell unless the value is itself an object.
      # In this case, the `value` attribute is expected to contain the cell value
      rows: [
        [
          "Value A1",
          "Value A2",
          "Value A3"
        ],
        {
          field_1: {
            value: "Value B1",
            html_attributes: {
              class: "green"
            }
          },
          field_2: "Value B2",
          field_3: "Value B3"
        }
      ]
    } %>
    <%= sage_component SageCard, {
        clear_top_padding: true,
        clear_bottom_padding: true,
      } do %>
      <%= sage_component SageTable, {
        responsive: true,
        headers: [
          { value: "Heading 1", },
          { value: %(Heading 2 <i class="sage-icon-check-circle"></i>) },
          { value: "Heading 3", html_attributes: { id: "heading-3" }, truncate: true }
        ],
        rows: [
          [
            "Value A1",
            "Value A2",
            "Value A3"
          ],
          {
            field_1: "Value B1",
            field_2: "Value B2",
            field_3: "Value B3"
          }
        ]
      } %>
    <% end %>
  <% end %>
<% end %>
