<%= content_for :heading do %>
  <h1>Sandbox</h1>
  <p>Use this scratchpad to test out elements and objects in context. Just be sure not to commit your changes. ❤️</p>
<% end %>

<%= sage_component SagePanel, {} do %>
  <%= sage_component SageOutlineItem, {
    title: "cool",
    type: "category",
    actions_primary: [sage_component(SageButton, {
      value: "Add Content",
      style: "secondary",
      icon: {style: "left", name: "add-circle"}
    })],
    actions_secondary: [
      sage_component(SageButton, {
        value: "wow",
        style: "tertiary",
        icon: {style: "only", name: "pen"}
      }),
      sage_component(SageButton, {
        value: "wow",
        style: "tertiary",
        icon: {style: "only", name: "preview-on"}
      })
    ]
  } do %>
    <% 3.times do %>
      <%= sage_component SageOutlineItem, {
        title: "cool",
        type: "post",
        actions_primary: [sage_component(SageButton, {
          value: "Add Content",
          style: "secondary",
          icon: {style: "left", name: "add-circle"}
        })],
        actions_secondary: [
          sage_component(SageButton, {
            value: "wow",
            style: "tertiary",
            icon: {style: "only", name: "pen"}
          }),
          sage_component(SageButton, {
            value: "wow",
            style: "tertiary",
            icon: {style: "only", name: "preview-on"}
          })
        ]
      } %>
    <% end %>
      <%= sage_component SageOutlineItem, {
        title: "cool",
        type: "category",
        actions_primary: [sage_component(SageButton, {
          value: "Add Content",
          style: "secondary",
          icon: {style: "left", name: "add-circle"}
        })],
        actions_secondary: [
          sage_component(SageButton, {
            value: "wow",
            style: "tertiary",
            icon: {style: "only", name: "pen"}
          }),
          sage_component(SageButton, {
            value: "wow",
            style: "tertiary",
            icon: {style: "only", name: "preview-on"}
          })
        ]
      }  do %>
      <% 3.times do %>
        <%= sage_component SageOutlineItem, {
          title: "cool",
          type: "post",
          actions_primary: [sage_component(SageButton, {
            value: "Add Content",
            style: "secondary",
            icon: {style: "left", name: "add-circle"}
          })],
          actions_secondary: [
            sage_component(SageButton, {
              value: "wow",
              style: "tertiary",
              icon: {style: "only", name: "pen"}
            }),
            sage_component(SageButton, {
              value: "wow",
              style: "tertiary",
              icon: {style: "only", name: "preview-on"}
            })
          ]
        } %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
