<% 
panel = %(
  <div class="sage-card sage-card--null sage-card--center">
    <div class="sage-card__body slot" style="height: 200px; max-width: 100%">
      Loading...
    </div>
  </div>
)
%>
<%= content_for :heading do %>
  <h1>Sandbox</h1>
  <p>Use this scratchpad to test out elements and objects in context. Just be sure not to commit your changes. ❤️</p>
<% end %>
<div data-js-grid="true" class="sage-container sage-container--xl">

  <h2>Fluid (micro) Layout</h2>
  
  <div class="sage-card">
    <div class="sage-card__body layout-fluid" style="height: 200px; max-width: 100%">
      <div class="sage-panel sage-panel--flat">
        <div class="sage-panel__body slot">Loading...</div>
      </div>
      <div class="sage-panel sage-panel--flat">
        <div class="sage-panel__body slot">Loading...</div>
      </div>
    </div>
  </div>

  <h2>Tiles/Grid</h2>

  <h3>2-up Grid</h3>
  <div class="sage-card">
    <div class="sage-card__body layout-grid layout-grid--2-up" style="max-width: 100%">
      <div class="sage-panel sage-panel--flat">
        <div class="sage-panel__body slot">Loading...</div>
      </div>
      <div class="sage-panel sage-panel--flat">
        <div class="sage-panel__body slot">Loading...</div>
      </div>
      <div class="sage-panel sage-panel--flat">
        <div class="sage-panel__body slot">Loading...</div>
      </div>
      <div class="sage-panel sage-panel--flat">
        <div class="sage-panel__body slot">Loading...</div>
      </div>
      <div class="sage-panel sage-panel--flat">
        <div class="sage-panel__body slot">Loading...</div>
      </div>
      <div class="sage-panel sage-panel--flat">
        <div class="sage-panel__body slot">Loading...</div>
      </div>
      <div class="sage-panel sage-panel--flat">
        <div class="sage-panel__body slot">Loading...</div>
      </div>
      <div class="sage-panel sage-panel--flat">
        <div class="sage-panel__body slot">Loading...</div>
      </div>
    </div>
  </div>

  <h3>3-up Grid</h3>
  <div class="sage-card">
    <div class="sage-card__body layout-grid layout-grid--3-up" style="max-width: 100%">
      <div class="sage-panel sage-panel--flat">
        <div class="sage-panel__body slot">Loading...</div>
      </div>
      <div class="sage-panel sage-panel--flat">
        <div class="sage-panel__body slot">Loading...</div>
      </div>
      <div class="sage-panel sage-panel--flat">
        <div class="sage-panel__body slot">Loading...</div>
      </div>
      <div class="sage-panel sage-panel--flat">
        <div class="sage-panel__body slot">Loading...</div>
      </div>
      <div class="sage-panel sage-panel--flat">
        <div class="sage-panel__body slot">Loading...</div>
      </div>
      <div class="sage-panel sage-panel--flat">
        <div class="sage-panel__body slot">Loading...</div>
      </div>
      <div class="sage-panel sage-panel--flat">
        <div class="sage-panel__body slot">Loading...</div>
      </div>
      <div class="sage-panel sage-panel--flat">
        <div class="sage-panel__body slot">Loading...</div>
      </div>
    </div>
  </div>

  <h3>4-up Grid</h3>
  <div class="sage-card">
    <div class="sage-card__body layout-grid layout-grid--4-up" style="max-width: 100%">
      <div class="sage-panel sage-panel--flat">
        <div class="sage-panel__body slot">Loading...</div>
      </div>
      <div class="sage-panel sage-panel--flat">
        <div class="sage-panel__body slot">Loading...</div>
      </div>
      <div class="sage-panel sage-panel--flat">
        <div class="sage-panel__body slot">Loading...</div>
      </div>
      <div class="sage-panel sage-panel--flat">
        <div class="sage-panel__body slot">Loading...</div>
      </div>
      <div class="sage-panel sage-panel--flat">
        <div class="sage-panel__body slot">Loading...</div>
      </div>
      <div class="sage-panel sage-panel--flat">
        <div class="sage-panel__body slot">Loading...</div>
      </div>
      <div class="sage-panel sage-panel--flat">
        <div class="sage-panel__body slot">Loading...</div>
      </div>
      <div class="sage-panel sage-panel--flat">
        <div class="sage-panel__body slot">Loading...</div>
      </div>
    </div>
  </div>
  
  <div class="sage-card">
    <div class="sage-card__body grid-demo" style="height: 200px; max-width: 100%">
      <div class="sage-panel sage-panel--flat">
        <div class="sage-panel__body slot">Loading...</div>
      </div>
      <div class="sage-panel sage-panel--flat">
        <div class="sage-panel__body slot">Loading...</div>
      </div>
    </div>
  </div>

  <h2>Overall grid layout patterns</h2>
  <p class="t-sage-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus justo quis auctor porttitor. Curabitur vestibulum pretium libero, a ultrices massa mattis non. Proin in mi vitae nibh consequat venenatis vel sed est. Aliquam semper tellus ac neque rhoncus, quis egestas lorem facilisis. Pellentesque laoreet magna dolor, quis tristique nunc pulvinar in. Cras pretium enim dolor, non tincidunt erat vulputate eget. Praesent vehicula elementum libero, id dictum nunc iaculis sit amet. Nulla accumsan nibh eget consectetur laoreet. Aenean in neque orci. Nulla eleifend molestie dolor, et egestas arcu placerat ut. Curabitur venenatis scelerisque tellus, consectetur vestibulum nulla.</p>
  <div class="sage-grid-old-row sage-spacer-bottom">
    <div class="sage-grid-old-col-12">
      <h2 class="sage-spacer-bottom-xs">Full</h2>
      <%= panel.html_safe %>
    </div>
  </div>
  <div class="sage-grid-old-row sage-spacer-bottom">
    <div class="sage-grid-old-col-12">
      <h2 class="sage-spacer-bottom-xs">Bifold</h2>
    </div>
    <div class="sage-grid-old-col-6">
      <%= panel.html_safe %>
    </div>
    <div class="sage-grid-old-col-6">
      <%= panel.html_safe %>
    </div>
  </div>
  <div class="sage-grid-old-row sage-spacer-bottom">
    <div class="sage-grid-old-col-12">
      <h2 class="sage-spacer-bottom-xs">Trifold</h2>
    </div>
    <div class="sage-grid-old-col-4">
      <%= panel.html_safe %>
    </div>
    <div class="sage-grid-old-col-4">
      <%= panel.html_safe %>
    </div>
    <div class="sage-grid-old-col-4">
      <%= panel.html_safe %>
    </div>
  </div>
  <div class="sage-grid-old-row sage-spacer-bottom">
    <div class="sage-grid-old-col-12">
      <h2 class="sage-spacer-bottom-xs">Left Flap</h2>
    </div>
    <div class="sage-grid-old-col-4">
      <%= panel.html_safe %>
    </div>
    <div class="sage-grid-old-col-8">
      <%= panel.html_safe %>
    </div>
  </div>
  <div class="sage-grid-old-row sage-spacer-bottom">
    <div class="sage-grid-old-col-12">
      <h2 class="sage-spacer-bottom-xs">Right Flap</h2>
    </div>
    <div class="sage-grid-old-col-8">
      <%= panel.html_safe %>
    </div>
    <div class="sage-grid-old-col-4">
      <%= panel.html_safe %>
    </div>
  </div>
</div>
