<%= content_for :heading do %>
  <h1>Sandbox</h1>
<% end %>
<p>Use this scratchpad to test out elements and objects in context. Just be sure not to commit your changes. ❤️</p>

<div class="sage-panel-scroll-container">
  <div class="sage-panel-group sage-panel-group--labeled">
    <p class="sage-panel-group__label t-sage-body t-sage--color-red">
      <b class="t-sage-body-med">2</b> unrecognized column
    </p>
    <div class="sage-panel-group__items">
      <%= render "examples/objects/panel/markup",
        header: "<h4 class='sage-panel__titl'>Birthday</h4>",
        header_aside: "<i class='sage-icon-unmapped' aria-label='Unmapped'></i>",
        body: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
        style: "flat",
        color: "danger",
        size: "sm"
      %>
      <%= render "examples/objects/panel/markup",
        header: "<h4 class='sage-panel__titl'>Opt-in date</h4>",
        header_aside: "<i class='sage-icon-unmapped' aria-label='Unmapped'></i>",
        body: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
        style: "flat",
        color: "danger",
        size: "sm"
      %>
    </div>
  </div>
  <div class="sage-panel-group sage-panel-group--labeled">
    <p class="sage-panel-group__label t-sage-body">
      <b class="t-sage-body-med">8</b> mapped columns
    </p>
    <div class="sage-panel-group__items">
      <%= render "examples/objects/panel/markup",
        header: "<h4 class='sage-panel__title'>First Name</h4>",
        header_aside: "<i class='sage-icon-mapped' aria-label='Mapped'></i>",
        body: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
        style: "flat",
        size: "sm"
      %>
      <%= render "examples/objects/panel/markup",
        header: "<h4 class='sage-panel__title'>Last Name</h4>",
        header_aside: "<i class='sage-icon-mapped' aria-label='Mapped'></i>",
        body: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
        style: "flat",
        size: "sm"
      %>
      <%= render "examples/objects/panel/markup",
        header: "<h4 class='sage-panel__title'>Address</h4>",
        header_aside: "<i class='sage-icon-mapped' aria-label='Mapped'></i>",
        body: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
        style: "flat",
        size: "sm"
      %>
      <%= render "examples/objects/panel/markup",
        header: "<h4 class='sage-panel__title'>City</h4>",
        header_aside: "<i class='sage-icon-mapped' aria-label='Mapped'></i>",
        body: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
        style: "flat",
        size: "sm"
      %>
    </div>
  </div>
</div>