<div class="sage-sidebar" id="sage-sidebar-menu">
  <div class="sage-sidebar__body">
    <div class="sage-nav">
      <%= link_to "Introduction", pages_index_url, class: "#{current? "sage-nav__link--active", pages_index_url} sage-nav__link" %>
      <%= link_to "Guidelines", "https://github.com/Kajabi/sage/wiki", class: "sage-nav__link", target: "_blank" %>
      <%= link_to "Styles", pages_token_url, class: "sage-nav__link" %>
      <%= yield :sidebar_styles %>
      <%= link_to "Elements", pages_elements_url, class: "sage-nav__link #{current? "sage-nav__link--active", pages_elements_url}" %>
      <%= yield :sidebar_elements %>
      <%= link_to "Objects", pages_objects_url, class: "sage-nav__link #{current? "sage-nav__link--active", pages_objects_url}" %>
      <%= yield :sidebar_objects %>
      <%= link_to "Utilities", pages_utilities_url, class: "sage-nav__link #{current? "sage-nav__link--active", pages_utilities_url}" %>
    </div>
  </div>
  <div class="sage-sidebar__footer">
    <div class="sage-nav">
      <%= link_to "Code Status", pages_status_url, class: "sage-nav__link #{current? "sage-nav__link--active", pages_status_url}" %>
      <%= link_to "Github", "https://github.com/Kajabi/sage", class: "sage-nav__link", target: "_blank" %>
      <%= link_to "Changelog", "https://github.com/Kajabi/sage/wiki/Changelog", class: "sage-nav__link", target: "_blank" %>
    </div>
  </div>
</div>