<tr>
  <td><%= item[:title].titleize %></td>
  <td>SCSS</td>
  <td><div class="status-key__icon status-key__icon--<%= item[:scss_design] %>"></div></td>
  <td><div class="status-key__icon status-key__icon--<%= item[:scss_dev] %>"></div></td>
  <td><div class="status-key__icon status-key__icon--<%= item[:scss_doc] %>"></div></td>
</tr>
<tr>
  <td></td>
  <td>Rails</td>
  <td><div class="status-key__icon status-key__icon--<%= item[:rails_design] %>"></div></td>
  <td><div class="status-key__icon status-key__icon--<%= item[:rails_dev] %>"></div></td>
  <td><div class="status-key__icon status-key__icon--<%= item[:rails_doc] %>"></div></td>
</tr>
<tr>
  <td></td>
  <td>React</td>
  <td><div class="status-key__icon status-key__icon--<%= item[:react_design] %>"></div></td>
  <td><div class="status-key__icon status-key__icon--<%= item[:react_dev] %>"></div></td>
  <td><div class="status-key__icon status-key__icon--<%= item[:react_doc] %>"></div></td>
</tr>