<%= content_for :heading do %>
  
<% end %>
<%= content_for :quick_links do %>
  <div class="quick-links">
    <div class="sage-media">
      <i class="quick-links__icon sage-icon sage-icon-menu-8"></i>
      <div class="sage-media__body">
        <h5 class="quick-links__heading">Contents</h5>
      </div>
    </div>
    <a href="##" class="quick-links__link">######</a>
  </div>
<% end %>
<div class="colors">
  <div class="color-<%= color %>-300">sage-color(<%= color %>)</div>
</div>
<div class="colors">
  <% (1..5).each do |i| %>
    <div class="color-<%= color %>-<%= i %>00">sage-color(<%= color %>, <%= i %>00)</div>
  <% end %>
</div>