<h1>Colors</h1>
<p>The colors in our palette communicate the reliability of our product. The colors purposefully communicate how things function in the interface. This helps us create visual patterns that can make interacting with our product easier and more predictable.</p>
<hr>
<h2>Primary</h2>
<p>These are the splashes of color that appear the most in Kajabi’s UI, and are the ones that determine the overall "look" of the app. Use these for things like primary actions, links, navigation items, icons, accent borders, or text we want to emphasize.</p>
<%= render "color_values", color: "primary"%>
<h2>Neutrals</h2>
<p>These are the colors we will use the most and will make up the majority of Kajabi’s UI.<br>
Use them for most of our text, backgrounds, and borders, as well as for things like alternative buttons and links.</p>
<%= render "color_values", color: "gray"%>
<h1>Core</h1>
<p>These colors are the core of our application and should be used as their name implies. We’ll use them when we need an element to stand out or to reinforce things like error states or positive trends with the appropriate semantic color.</p>
<div class="sage-row">
  <div class="sage-col">
    <h3>Success</h3>
    <%= render "color_values", color: "success"%>
  </div>
  <div class="sage-col">
    <h3>Warning</h3>
    <%= render "color_values", color: "warning"%>
  </div>
</div>
<div class="sage-row">
  <div class="sage-col--6">
    <h3>Danger</h3>
    <%= render "color_values", color: "danger"%>
  </div>
</div>
<h1>Supporting</h1>
<p>These colors should be used fairly conservatively throughout Kajabi’s UI to avoid overpowering our primary colors. We’ll use the m when we need an element to stand out.</p>
<div class="sage-row">
  <div class="sage-col--6">
    <h3>Orange</h3>
    <%= render "color_values", color: "orange"%>
  </div>
</div>