<%= content_for :heading do %>
  <h1>Components</h1>
  <p>Components are groups of atoms bonded together and are the smallest fundamental units of a compound. These Components take on their own properties and serve as the backbone of our design systems.</p>
<% end %>
<%= content_for :quick_links do %>
  <div class="quick-links">
    <div class="sage-media">
      <i class="quick-links__icon sage-icon sage-icon-menu-8"></i>
      <div class="sage-media__body">
        <h5 class="quick-links__heading">Contents</h5>
      </div>
    </div>
    <% sorted_sage_components.each do |component| %>
      <a href="#<%= component[:title] %>" class="quick-links__link"><%= component[:title].capitalize.gsub("_", " ") %></a>
    <% end %>
  </div>
<% end %>
<% sorted_sage_components.each do |component| %>
  <%= render "sage/examples/components/component", title: component[:title] %>
<% end %>