<%= content_for :heading do %>
  <h1>Components</h1>
  <p>Components are groups of atoms bonded together and are the smallest fundamental units of a compound. These Components take on their own properties and serve as the backbone of our design systems.</p>
<% end %>
<%= content_for :quick_links do %>
  <div class="quick-links">
    <div class="quick-links__header">
      <i class="quick-links__icon sage-icon sage-icon-menu-8"></i>
      <h5 class="quick-links__title">Contents</h5>
    </div>
    <ul class="quick-links__body">
      <% sorted_sage_components.each do |component| %>
        <li class="quick-links__item">
          <a href="#<%= component[:title] %>" class="quick-links__link"><%= component[:title].titleize %></a>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
<% sorted_sage_components.each do |component| %>
  <%= render "sage/examples/components/component", title: component[:title] %>
<% end %>
