<h1>Core</h1>
<%= render 'docs/colors' %>
<h2 id="typography">Typography</h2>
<%= render 'docs/typography' %>
<h2 id="grid">Grid</h2>
<%= render 'docs/grid' %>
<h2 id="container">Container</h2>
<%= render 'docs/container' %>
<h2 id="icon">Icon</h2>
<%= render 'docs/icon' %>