<%= content_for :heading do %>
  
<% end %>
<%= content_for :quick_links do %>
  <div class="quick-links">
    <div class="sage-media">
      <i class="quick-links__icon sage-icon sage-icon-menu-8"></i>
      <div class="sage-media__body">
        <h5 class="quick-links__heading">Contents</h5>
      </div>
    </div>
    <a href="##" class="quick-links__link">######</a>
  </div>
<% end %>
<h1>Grid</h1>
<div class="sage-panel">
  <div class="sage-row">
    <div class="sage-col"><div class="grid-item">Col</div></div>
    <div class="sage-col"><div class="grid-item">Col</div></div>
    <div class="sage-col"><div class="grid-item">Col</div></div>
    <div class="sage-col"><div class="grid-item">Col</div></div>
  </div>
  <div class="sage-row">
    <div class="sage-col--4"><div class="grid-item">Col</div></div>
    <div class="sage-col"><div class="grid-item">Col</div></div>
    <div class="sage-col"><div class="grid-item">Col</div></div>
  </div>
  <pre class="prettyprint"><code><xmp><div class="sage-row">
    <div class="sage-col--4">Col</div>
    <div class="sage-col">Col</div>
    <div class="sage-col">Col</div>
  </div></xmp></code></pre>
  <% 10.times do |num| %>
    <div class="sage-row">
      <div class="sage-col--<%= num + 1%>"><div class="grid-item"><%= num + 1%></div></div>
      <div class="sage-col"><div class="grid-item"><%= 11 - num%></div></div>
    </div>
  <% end %>
</div>