<%= render "sidebar_styles" %>
<%= content_for :heading do %>
  <h1 class="t-heading-1">Grid</h1>
<% end %>
<div class="sage-panel">
  <% 1.upto(9) do |num| %>
    <div class="sage-row">
      <div class="sage-col--md-<%= num + 1%>"><div class="grid-item"><%= num + 1%></div></div>
      <div class="sage-col--md-<%= 11 - num%>"><div class="grid-item"><%= 11 - num%></div></div>
    </div>
  <% end %>
</div>
<div class="sage-panel">
  <div class="sage-row">
    <div class="sage-col--md-4"><div class="grid-item">Col</div></div>
    <div class="sage-col--md-4"><div class="grid-item">Col</div></div>
    <div class="sage-col--md-4"><div class="grid-item">Col</div></div>
  </div>
  <pre class="prettyprint"><code>&lt;div class=&quot;sage-row&quot;&gt;
  &lt;div class=&quot;sage-col--md-4&quot;&gt;Col&lt;/div&gt;
  &lt;div class=&quot;sage-col--md-4&quot;&gt;Col&lt;/div&gt;
  &lt;div class=&quot;sage-col--md-4&quot;&gt;Col&lt;/div&gt;
&lt;/div&gt;</code></pre>
</div>
<div class="sage-panel">
  <div class="sage-row">
    <div class="sage-col--lg-3"><div class="grid-item">Col</div></div>
    <div class="sage-col--lg-3"><div class="grid-item">Col</div></div>
    <div class="sage-col--lg-3"><div class="grid-item">Col</div></div>
    <div class="sage-col--lg-3"><div class="grid-item">Col</div></div>
  </div>
  <pre class="prettyprint"><code>&lt;div class=&quot;sage-row&quot;&gt;
  &lt;div class=&quot;sage-col--lg-3&quot;&gt;Col&lt;/div&gt;
  &lt;div class=&quot;sage-col--lg-3&quot;&gt;Col&lt;/div&gt;
  &lt;div class=&quot;sage-col--lg-3&quot;&gt;Col&lt;/div&gt;
  &lt;div class=&quot;sage-col--lg-3&quot;&gt;Col&lt;/div&gt;
&lt;/div&gt;</code></pre>

</div>
