<%= render "sidebar_styles" %>
<%= content_for :heading do %>
  <h1>Grid</h1>
<% end %>
<%= content_for :quick_links do %>
  <div class="quick-links">
    <h2 class="quick-links__title t-sage-heading-6">Contents</h2>
    <ul class="quick-links__body t-sage-body-small">
      <li class="quick-links__item">
        <a href="#grid-quick-start" class="quick-links__link">How to use</a>
        <a href="#grid-setting-widths" class="quick-links__link">Setting widths</a>
        <a href="#grid-breakpoints" class="quick-links__link">Breakpoints</a>
      </li>
    </ul>
  </div>
<% end %>
<div class="sage-panel sage-type">
  <h2 id="grid-quick-start">How to use</h2>
  <p>Similar to other grid structures you might be familiar with, such as <a href="https://getbootstrap.com/docs/4.0/layout/grid/" rel="nofollow">Bootstrap</a> or <a href="https://get.foundation/sites/docs/grid.html" rel="nofollow">Foundation</a>, the Sage layout grid is constructed of individual columns (<code>.sage-col</code>) grouped within rows (<code>.sage-row</code>).</p>
  <h3 class="t-heading-5" id="grid-setting-widths">Setting widths</h3>
  <p>Our default grid consists of <strong>12 columns</strong> per row. Each column's width can be independently sized using classes in the form of <code>.sage-col-&lt;number of columns&gt;</code>.</p>
  <p>For example, a three-column wide <code>.sage-col-3</code> would be one-quarter (25%) of the width of one row, because 3 columns divided by the 12 (total) columns in the row equals 25 percent.</p>
  <p>As a result, it would take four <code>.sage-col-3</code> columns to fill out one row:

  <div class="sage-row">
    <div class="sage-col-3"><div class="grid-item">25%</div></div>
    <div class="sage-col-3"><div class="grid-item">25%</div></div>
    <div class="sage-col-3"><div class="grid-item">25%</div></div>
    <div class="sage-col-3"><div class="grid-item">25%</div></div>
  </div>
</div>
<div class="sage-panel sage-type">
  <p>You can see how the columns add up below, where each <code>.sage-col</code> example is named with the number of columns it represents:</p>
  <% 1.upto(9) do |num| %>
    <div class="sage-row">
      <div class="sage-col--md-<%= num + 1%>"><div class="grid-item"><%= num + 1%></div></div>
      <div class="sage-col--md-<%= 11 - num%>"><div class="grid-item"><%= 11 - num%></div></div>
    </div>
  <% end %>
</div>
<div class="sage-panel sage-type">
  <h2 id="grid-breakpoints">Breakpoints</h2>
  <h3 class="t-heading-5">Medium breakpoint:</h3>
  <div class="sage-row">
    <div class="sage-col--md-4"><div class="grid-item">Col</div></div>
    <div class="sage-col--md-4"><div class="grid-item">Col</div></div>
    <div class="sage-col--md-4"><div class="grid-item">Col</div></div>
  </div>
  <pre class="prettyprint"><code>&lt;div class=&quot;sage-row&quot;&gt;
  &lt;div class=&quot;sage-col--md-4&quot;&gt;Col&lt;/div&gt;
  &lt;div class=&quot;sage-col--md-4&quot;&gt;Col&lt;/div&gt;
  &lt;div class=&quot;sage-col--md-4&quot;&gt;Col&lt;/div&gt;
&lt;/div&gt;</code></pre>
  <h3 class="t-heading-5">Large breakpoint:</h3>
  <div class="sage-row">
    <div class="sage-col--lg-3"><div class="grid-item">Col</div></div>
    <div class="sage-col--lg-3"><div class="grid-item">Col</div></div>
    <div class="sage-col--lg-3"><div class="grid-item">Col</div></div>
    <div class="sage-col--lg-3"><div class="grid-item">Col</div></div>
  </div>
  <pre class="prettyprint"><code>&lt;div class=&quot;sage-row&quot;&gt;
  &lt;div class=&quot;sage-col--lg-3&quot;&gt;Col&lt;/div&gt;
  &lt;div class=&quot;sage-col--lg-3&quot;&gt;Col&lt;/div&gt;
  &lt;div class=&quot;sage-col--lg-3&quot;&gt;Col&lt;/div&gt;
  &lt;div class=&quot;sage-col--lg-3&quot;&gt;Col&lt;/div&gt;
&lt;/div&gt;</code></pre>

</div>
