<%= content_for :heading do %>
  <h1>Modules</h1>
  <p>Modules are groups of molecules joined together to form a relatively complex, distinct section of an interface.</p>
<% end %>
<%= content_for :quick_links do %>
  <div class="quick-links">
    <div class="sage-media">
      <i class="quick-links__icon sage-icon sage-icon-menu-8"></i>
      <div class="sage-media__body">
        <h5 class="quick-links__heading">Contents</h5>
      </div>
    </div>
    <% sorted_sage_modules.each do |example_module| %>
      <a href="#<%= example_module[:title] %>" class="quick-links__link"><%= example_module[:title].titleize %></a>
    <% end %>
  </div>
<% end %>
<% sorted_sage_modules.each do |example_module| %>
  <%= render "sage/examples/modules/module", title: example_module[:title] %>
<% end %>