<%= content_for :heading do %>
  <h1>Modules</h1>
  <p>Modules are groups of molecules joined together to form a relatively complex, distinct section of an interface.</p>
<% end %>
<%= content_for :quick_links do %>
  <div class="quick-links">
    <div class="quick-links__header">
      <i class="quick-links__icon sage-icon sage-icon-menu-8"></i>
      <h5 class="quick-links__title">Contents</h5>
    </div>
    <div class="quick-links__body">
      <% sorted_sage_modules.each do |example_module| %>
        <a href="#<%= example_module[:title] %>" class="quick-links__link"><%= example_module[:title].titleize %></a>
      <% end %>
    </div>
  </div>
<% end %>
<% sorted_sage_modules.each do |example_module| %>
  <%= render "sage/examples/modules/module", title: example_module[:title] %>
<% end %>
