<%= render "sage/examples/objects/sidebar" %>
<%= content_for :heading do %>
  <h1>Objects</h1>
  <p>Objects are groups of atoms bonded together and are the smallest fundamental units of a compound. These Objects take on their own properties and serve as the backbone of our design systems.</p>
<% end %>
<%= content_for :quick_links do %>
  <div class="quick-links">
    <div class="sage-media">
      <i class="quick-links__icon sage-icon sage-icon-menu-8"></i>
      <div class="sage-media__body">
        <h5 class="quick-links__heading">Contents</h5>
      </div>
    </div>
    <% sorted_sage_objects.each do |object| %>
      <a href="#<%= object[:title] %>" class="quick-links__link"><%= object[:title].titleize %></a>
    <% end %>
  </div>
<% end %>
<% sorted_sage_objects.each do |object| %>
  <%= render "sage/examples/objects/object", title: object[:title] %>
<% end %>