<!-- Properties -->
<%= sage_component SagePanel, {} do %>
  <%= sage_component SagePanelHeader, { title: "Properties" } %>
  <%= sage_component SagePanelList, {} do %>
    <% props.each do | prop | %>
      <li class="sage-docs-prop-item">
        <h6 class="sage-docs-prop-item__name">
          <code><%= prop[:name] %></code>
        </h6>
        <div class="sage-docs-prop-item__notes sage-type">
          <% if prop[:required] %>
            <strong class="sage-docs-prop-item__req">required</strong>
          <% end %>
          <%= prop[:notes] %>
        </div>
        <div class="sage-docs-prop-item__schema">
          <b>Schema:</b>
          <pre><code><%= prop[:schema] %></code></pre>
        </div>
        <div class="sage-docs-prop-item__default">
          <b>Default:</b>
          <pre><code><%= prop[:default_value] %></code></pre>
        </div>
      </li>
    <% end %>
  <% end if defined?(props) %>
<% end %>

<!-- Best Practices -->
<%= sage_component SagePanel, {} do %>
  <%= sage_component SagePanelHeader, { title: "Best Practices" } %>
  <%= sage_component SagePanelTiles, { tiles_in_row: 2 } do %>
    <%= sage_component SagePanelTile, {} do %>
      <%= sage_component SagePanelSubheader, { title: "Do" } %>
      <%= dos %>
    <% end if defined?(dos) %>
    <%= sage_component SagePanelTile, {} do %>
      <%= sage_component SagePanelSubheader, { title: "Don't" } %>
      <%= donts %>
    <% end if defined?(donts) %>
  <% end %>
<% end if defined?(dos) || defined?(donts) %>
