<% if do_content.present? || dont_content.present? %>
  <%= sage_component SageCardRow, { grid_template: "te", spacer: {bottom: :sm} } do %>
    <h2 id="<%= title %>-example-best-practices">Best Practices</h2>
  <% end %>
  <%= sage_component SageCard, { spacer: {bottom: :xl} } do %>
    <%= sage_component SageGridRow, { } do %>
      <%= sage_component SageGridCol, { breakpoint: "md", size: "6" } do %> 
        <%= sage_component SageLabel, {
          color: "success",
          value: "Do",
        } %>
        <%= do_content %>
      <% end %>
      <%= sage_component SageGridCol, { breakpoint: "md", size: "6" } do %> 
        <%= sage_component SageLabel, {
            color: "danger",
            value: "Don't",
          } %>
        <%= dont_content %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
