<h3 class="t-sage-heading-5">Checkbox Toggle</h3>

<%= render "examples/elements/toggle/markup",
id: "c1",
name: "",
value: "",
label_text: "Checkbox",
input_type: "checkbox",
toggle_type: "checkbox",
checked: false,
disabled: false,
required: false,
has_error: false,
message: ""
%>
<%= render "examples/elements/toggle/markup",
id: "c2",
name: "",
value: "",
label_text: "Checked",
input_type: "checkbox",
toggle_type: "checkbox",
checked: true,
disabled: false,
required: false,
has_error: false,
message: ""
%>
<%= render "examples/elements/toggle/markup",
id: "c3",
name: "",
value: "",
label_text: "Disabled",
input_type: "checkbox",
toggle_type: "checkbox",
checked: false,
disabled: true,
required: false,
has_error: false,
message: ""
%>
<%= render "examples/elements/toggle/markup",
id: "c4",
name: "",
value: "",
label_text: "Checked & Disabled",
input_type: "checkbox",
toggle_type: "checkbox",
checked: true,
disabled: true,
required: false,
has_error: false,
message: ""
%>
<%= render "examples/elements/toggle/markup",
id: "c5",
name: "",
value: "",
label_text: "Error",
input_type: "checkbox",
toggle_type: "checkbox",
checked: false,
disabled: false,
required: false,
has_error: true,
message: ""
%>
<%= render "examples/elements/toggle/markup",
id: "c6",
name: "",
value: "",
label_text: "Checked & Error",
input_type: "checkbox",
toggle_type: "checkbox",
checked: true,
disabled: false,
required: false,
has_error: true,
message: ""
%>
<hr>
<h3 class="t-sage-heading-5">Radio Toggle</h3>

<%= render "examples/elements/toggle/markup",
id: "r1",
name: "radio1",
value: "1",
label_text: "Option 1",
input_type: "radio",
toggle_type: "radio",
checked: true,
disabled: false,
required: false,
has_error: false,
message: ""
%>
<%= render "examples/elements/toggle/markup",
id: "r2",
name: "radio1",
value: "2",
label_text: "Option 2",
input_type: "radio",
toggle_type: "radio",
checked: false,
disabled: false,
required: false,
has_error: false,
message: ""
%>
<%= render "examples/elements/toggle/markup",
id: "r3",
name: "radio2",
value: "3",
label_text: "Disabled",
input_type: "radio",
toggle_type: "radio",
checked: false,
disabled: true,
required: false,
has_error: false,
message: ""
%>
<%= render "examples/elements/toggle/markup",
id: "r4",
name: "radio3",
value: "4",
label_text: "Checked & Disabled",
input_type: "radio",
toggle_type: "radio",
checked: true,
disabled: true,
required: false,
has_error: false,
message: ""
%>
<%= render "examples/elements/toggle/markup",
id: "r5",
name: "radio4",
value: "1",
label_text: "Error",
input_type: "radio",
toggle_type: "radio",
checked: true,
disabled: false,
required: false,
has_error: true,
message: ""
%>
<hr>
<h3 class="t-sage-heading-5">Switch Toggle</h3>
<h4 class="t-sage-heading-6">Checkbox Variant</h4>

<%= render "examples/elements/toggle/markup",
id: "s1",
name: "switch1",
value: "switch1",
label_text: "Switch (checkbox)",
input_type: "checkbox",
toggle_type: "switch",
checked: false,
disabled: false,
required: false,
has_error: false,
message: ""
%>
<%= render "examples/elements/toggle/markup",
id: "s2",
name: "switch2",
value: "switch2",
label_text: "Switch (checkbox) w/ error",
input_type: "checkbox",
toggle_type: "switch",
checked: false,
disabled: false,
required: false,
has_error: true,
message: ""
%>
<%= render "examples/elements/toggle/markup",
id: "s3",
name: "switch3",
value: "switch3",
label_text: "Switch (checkbox) disabled",
input_type: "checkbox",
toggle_type: "switch",
checked: false,
disabled: true,
required: false,
has_error: false,
message: ""
%>
<%= render "examples/elements/toggle/markup",
id: "s4",
name: "switch4",
value: "switch4",
label_text: "Switch (checkbox) on disabled",
input_type: "checkbox",
toggle_type: "switch",
checked: true,
disabled: true,
required: false,
has_error: false,
message: ""
%>
<%= render "examples/elements/toggle/markup",
id: "s5",
name: "switch5",
value: "switch5",
label_text: "Switch (checkbox) w info",
input_type: "checkbox",
toggle_type: "switch",
checked: false,
disabled: false,
required: false,
has_error: false,
message: "Additional Info"
%>
<%= render "examples/elements/toggle/markup",
id: "s6",
name: "switch6",
value: "switch6",
label_text: "Switch (checkbox) error w info",
input_type: "checkbox",
toggle_type: "switch",
checked: false,
disabled: false,
required: false,
has_error: true,
message: "Additional Info"
%>
<h4 class="t-sage-heading-6">Radio Variant</h4>

<%= render "examples/elements/toggle/markup",
id: "s7",
name: "switch7",
value: "switch7",
label_text: "Switch (radio)",
input_type: "radio",
toggle_type: "switch",
checked: false,
disabled: false,
required: false,
has_error: false,
message: ""
%>
<%= render "examples/elements/toggle/markup",
id: "s8",
name: "switch7",
value: "switch8",
label_text: "Switch (radio)",
input_type: "radio",
toggle_type: "switch",
checked: true,
disabled: false,
required: false,
has_error: false,
message: ""
%>
<%= render "examples/elements/toggle/markup",
id: "s9",
name: "switch9",
value: "switch9",
label_text: "Switch (radio) disabled",
input_type: "radio",
toggle_type: "switch",
checked: false,
disabled: true,
required: false,
has_error: false,
message: ""
%>
<%= render "examples/elements/toggle/markup",
id: "s10",
name: "switch10",
value: "switch10",
label_text: "Switch (radio) on disabled",
input_type: "radio",
toggle_type: "switch",
checked: true,
disabled: true,
required: false,
has_error: false,
message: ""
%>
<%= render "examples/elements/toggle/markup",
id: "s11",
name: "switch11",
value: "switch11",
label_text: "Switch (radio) error",
input_type: "radio",
toggle_type: "switch",
checked: false,
disabled: false,
required: false,
has_error: true,
message: ""
%>
