<% if is_link_btn %>
  <a
    href=<%= link_url != "" ? link_url : "#" %>
    class="sage-btn sage-btn--<%= color %><%= " sage-btn--#{size}" if size != "" %><%= " sage-btn--align-end " if align_end %><%= " disabled" if is_disabled %><%= " #{icon_class}" if icon_class != "" %>"
    <% if is_disabled %> aria-disabled="true"<%end%>
  >
    <% if icon_only %>
      <span class="visually-hidden">
        <%= text -%>
      </span>
    <% else %>
      <%= text -%>
    <% end %>
  </a>
<% else %>
  <button
    class="sage-btn sage-btn--<%= color %><%= " sage-btn--#{size}" if size != "" %><%= " sage-btn--align-end " if align_end %><%= " disabled" if is_disabled %><%= " #{icon_class}" if icon_class != "" %>"
    <% if is_disabled %> disabled<%end%>
  >
  <% if icon_only %>
    <span class="visually-hidden">
      <%= text -%>
    </span>
  <% else %>
    <%= text -%>
  <% end %>
  </button>
<% end %>
