<h3 class="t-sage-heading-6">Primary</h3>

<!-- Primary button -->
<%= render "sage/examples/elements/button/markup",
  text: "Button",
  is_link_btn: false,
  link_url: "",
  is_disabled: false,
  style_primary: true,
  style_secondary: false,
  style_tertiary: false,
  style_small: false,
  sage_icon_name: ""
%>

<!-- Primary button (link) -->
<%= render "sage/examples/elements/button/markup",
  text: "Link",
  is_link_btn: true,
  link_url: "#element-button",
  is_disabled: false,
  style_primary: true,
  style_secondary: false,
  style_tertiary: false,
  style_small: false,
  sage_icon_name: ""
%>

<!-- Primary button (icon-left) -->
<%= render "sage/examples/elements/button/markup",
  text: "Link (icon-left)",
  is_link_btn: true,
  link_url: "#",
  is_disabled: false,
  style_primary: true,
  style_secondary: false,
  style_tertiary: false,
  style_small: false,
  sage_icon_name: "sage-btn--icon-left-menu"
%>

<!-- Primary button (icon-right) -->
<%= render "sage/examples/elements/button/markup",
  text: "Button (icon-right)",
  is_link_btn: false,
  link_url: "",
  is_disabled: false,
  style_primary: true,
  style_secondary: false,
  style_tertiary: false,
  style_small: false,
  sage_icon_name: ""
%>

<br>
<h3 class="t-sage-heading-6">Primary (disabled)</h3>

<!-- Primary button (disabled) -->
<%= render "sage/examples/elements/button/markup",
  text: "Button",
  is_link_btn: false,
  link_url: "",
  is_disabled: true,
  style_primary: true,
  style_secondary: false,
  style_tertiary: false,
  style_small: false,
  sage_icon_name: ""
%>

<!-- Primary button link (disabled) -->
<%= render "sage/examples/elements/button/markup",
  text: "Button Link",
  is_link_btn: true,
  link_url: "#",
  is_disabled: true,
  style_primary: true,
  style_secondary: false,
  style_tertiary: false,
  style_small: false,
  sage_icon_name: ""
%>

<!-- Primary button (icon-left, disabled) -->
<%= render "sage/examples/elements/button/markup",
  text: "Button (icon-left)",
  is_link_btn: false,
  link_url: "",
  is_disabled: true,
  style_primary: true,
  style_secondary: false,
  style_tertiary: false,
  style_small: false,
  sage_icon_name: "sage-btn--icon-left-users"
%>

<!-- Primary button (icon-right, disabled) -->
<%= render "sage/examples/elements/button/markup",
  text: "Link (icon-right)",
  is_link_btn: true,
  link_url: "#",
  is_disabled: true,
  style_primary: true,
  style_secondary: false,
  style_tertiary: false,
  style_small: false,
  sage_icon_name: "sage-btn--icon-right-launch"
%>

<br><br>
<h3 class="t-sage-heading-6">Secondary</h3>

<!-- Secondary button -->
<%= render "sage/examples/elements/button/markup",
  text: "Button",
  is_link_btn: false,
  link_url: "",
  is_disabled: false,
  style_primary: false,
  style_secondary: true,
  style_tertiary: false,
  style_small: false,
  sage_icon_name: ""
%>

<!-- Secondary button (link) -->
<%= render "sage/examples/elements/button/markup",
  text: "Link",
  is_link_btn: true,
  link_url: "#",
  is_disabled: false,
  style_primary: false,
  style_secondary: true,
  style_tertiary: false,
  style_small: false,
  sage_icon_name: ""
%>

<!-- Secondary button (icon-left) -->
<%= render "sage/examples/elements/button/markup",
  text: "Button (icon-left)",
  is_link_btn: false,
  link_url: "",
  is_disabled: false,
  style_primary: false,
  style_secondary: true,
  style_tertiary: false,
  style_small: false,
  sage_icon_name: "sage-btn--icon-left-gear"
%>

<!-- Secondary button (icon-right) -->
<%= render "sage/examples/elements/button/markup",
  text: "Link (icon-right)",
  is_link_btn: true,
  link_url: "#",
  is_disabled: false,
  style_primary: false,
  style_secondary: true,
  style_tertiary: false,
  style_small: false,
  sage_icon_name: "sage-btn--icon-right-search"
%>

<br>
<h3 class="t-sage-heading-6">Secondary (disabled)</h3>

<!-- Secondary button (disabled) -->
<%= render "sage/examples/elements/button/markup",
  text: "Button",
  is_link_btn: false,
  link_url: "",
  is_disabled: true,
  style_primary: false,
  style_secondary: true,
  style_tertiary: false,
  style_small: false,
  sage_icon_name: ""
%>

<!-- Secondary button link (disabled) -->
<%= render "sage/examples/elements/button/markup",
  text: "Link",
  is_link_btn: true,
  link_url: "#",
  is_disabled: true,
  style_primary: false,
  style_secondary: true,
  style_tertiary: false,
  style_small: false,
  sage_icon_name: ""
%>

<!-- Secondary button (icon-left, disabled) -->
<%= render "sage/examples/elements/button/markup",
  text: "Link (icon-left)",
  is_link_btn: true,
  link_url: "#",
  is_disabled: true,
  style_primary: false,
  style_secondary: true,
  style_tertiary: false,
  style_small: false,
  sage_icon_name: "sage-btn--icon-left-send-message"
%>

<!-- Secondary button (icon-right, disabled) -->
<%= render "sage/examples/elements/button/markup",
  text: "Button (icon-right)",
  is_link_btn: true,
  link_url: "#",
  is_disabled: true,
  style_primary: false,
  style_secondary: true,
  style_tertiary: false,
  style_small: false,
  sage_icon_name: "sage-btn--icon-right-arrow-right"
%>

<br><br>
<h3 class="t-sage-heading-6">Tertiary</h3>

<!-- Tertiary button -->
<%= render "sage/examples/elements/button/markup",
  text: "Button",
  is_link_btn: false,
  link_url: "",
  is_disabled: false,
  style_primary: false,
  style_secondary: false,
  style_tertiary: true,
  style_small: false,
  sage_icon_name: ""
%>

<!-- Tertiary button (link) -->
<%= render "sage/examples/elements/button/markup",
  text: "Link",
  is_link_btn: true,
  link_url: "#",
  is_disabled: false,
  style_primary: false,
  style_secondary: false,
  style_tertiary: true,
  style_small: false,
  sage_icon_name: ""
%>

<!-- Tertiary button (icon-left) -->
<%= render "sage/examples/elements/button/markup",
  text: "Button (icon-left)",
  is_link_btn: false,
  link_url: "",
  is_disabled: false,
  style_primary: false,
  style_secondary: false,
  style_tertiary: true,
  style_small: false,
  sage_icon_name: "sage-btn--icon-left-3-dot-menu"
%>

<!-- Tertiary button (icon-right) -->
<%= render "sage/examples/elements/button/markup",
  text: "Button (icon-right)",
  is_link_btn: false,
  link_url: "",
  is_disabled: false,
  style_primary: false,
  style_secondary: false,
  style_tertiary: true,
  style_small: false,
  sage_icon_name: "sage-btn--icon-right-microphone"
%>

<br>
<h3 class="t-sage-heading-6">Tertiary (disabled)</h3>

<!-- Tertiary button disabled -->
<%= render "sage/examples/elements/button/markup",
  text: "Button",
  is_link_btn: false,
  link_url: "",
  is_disabled: true,
  style_primary: false,
  style_secondary: false,
  style_tertiary: true,
  style_small: false,
  sage_icon_name: ""
%>

<!-- Tertiary button link (disabled) -->
<%= render "sage/examples/elements/button/markup",
  text: "Link",
  is_link_btn: true,
  link_url: "#",
  is_disabled: true,
  style_primary: false,
  style_secondary: false,
  style_tertiary: true,
  style_small: false,
  sage_icon_name: ""
%>

<!-- Tertiary button (icon-left, disabled) -->
<%= render "sage/examples/elements/button/markup",
  text: "Link (icon-left)",
  is_link_btn: true,
  link_url: "#",
  is_disabled: true,
  style_primary: false,
  style_secondary: false,
  style_tertiary: true,
  style_small: false,
  sage_icon_name: "sage-btn--icon-left-comment"
%>

<!-- Tertiary button (icon-right, disabled) -->
<%= render "sage/examples/elements/button/markup",
  text: "Link (icon-right)",
  is_link_btn: true,
  link_url: "#",
  is_disabled: true,
  style_primary: false,
  style_secondary: false,
  style_tertiary: true,
  style_small: false,
  sage_icon_name: "sage-btn--icon-right-preview-off"
%>

<br><br>
<h3 class="t-sage-heading-6">Small</h3>

<!-- Primary small -->
<%= render "sage/examples/elements/button/markup",
  text: "Primary small",
  is_link_btn: false,
  link_url: "",
  is_disabled: false,
  style_primary: true,
  style_secondary: false,
  style_tertiary: false,
  style_small: true,
  sage_icon_name: ""
%>


<!-- Primary button small (disabled) -->
<%= render "sage/examples/elements/button/markup",
  text: "Primary small",
  is_link_btn: false,
  link_url: "",
  is_disabled: true,
  style_primary: true,
  style_secondary: false,
  style_tertiary: false,
  style_small: true,
  sage_icon_name: ""
%>

<!-- Secondary small -->
<%= render "sage/examples/elements/button/markup",
  text: "Secondary small link",
  is_link_btn: true,
  link_url: "#",
  is_disabled: false,
  style_primary: false,
  style_secondary: true,
  style_tertiary: false,
  style_small: true,
  sage_icon_name: ""
%>

<!-- Tertiary small -->
<%= render "sage/examples/elements/button/markup",
  text: "Tertiary small",
  is_link_btn: false,
  link_url: "",
  is_disabled: false,
  style_primary: false,
  style_secondary: false,
  style_tertiary: true,
  style_small: true,
  sage_icon_name: ""
%>
