<div class="sage-row">
  <div class="sage-col--md-6">
    <%= render "sage/examples/objects/card/markup",
      is_compact: false,
      is_spaced: false,
      title: "Card w/ Image",
      text: "Diam in auctor sit quam laoreet imperdiet aliquam. Habitant nunc lacus semper lacus, nec a, sit enim.",
      action_text: "Action Button",
      action_style_primary: true,
      action_style_tertiary: false,
      has_img: true,
      img_path: "/assets/sage/card/card-placeholder-lg.png",
      img_alt: "Alternative text for image"
    %>
  </div>
  <div class="sage-col--md-6">
    <%= render "sage/examples/objects/card/markup",
      is_compact: false,
      is_spaced: false,
      title: "Card w/ Image",
      text: "Diam in auctor sit quam laoreet imperdiet aliquam. Habitant nunc lacus semper lacus, nec a, sit enim.",
      action_text: "Action Button",
      action_style_primary: false,
      action_style_tertiary: true,
      has_img: true,
      img_path: "/assets/sage/card/card-placeholder-lg.png",
      img_alt: "Alternative text for image"
    %>
  </div>
  <div class="sage-col--md-12">
    <%= render "sage/examples/objects/card/markup",
      is_compact: true,
      is_spaced: false,
      title: "Compact Card w/ Image",
      text: "Diam in auctor sit quam laoreet imperdiet aliquam. Habitant nunc lacus semper lacus, nec a, sit enim.",
      action_text: "Action Button",
      action_style_primary: true,
      action_style_tertiary: false,
      has_img: true,
      img_path: "/assets/sage/card/card-placeholder-sm.png",
      img_alt: "Alternative text for image"
    %>
    <%= render "sage/examples/objects/card/markup",
      is_compact: true,
      is_spaced: false,
      title: "Compact Card w/ Image",
      text: "Diam in auctor sit quam laoreet imperdiet aliquam. Habitant nunc lacus semper lacus, nec a, sit enim.",
      action_text: "Action Button",
      action_style_primary: false,
      action_style_tertiary: true,
       has_img: true,
      img_path: "/assets/sage/card/card-placeholder-sm.png",
      img_alt: "Alternative text for image"
    %>
  </div>
  <div class="sage-col--md-6">
    <%= render "sage/examples/objects/card/markup",
      is_compact: false,
      is_spaced: true,
      title: "Spaced Card w/ Image",
      text: "Diam in auctor sit quam laoreet imperdiet aliquam. Habitant nunc lacus semper lacus, nec a, sit enim.",
      action_text: "Action Button",
      action_style_primary: true,
      action_style_tertiary: false,
      has_img: true,
      img_path: "/assets/sage/card/card-placeholder-lg.png",
      img_alt: "Alternative text for image"
    %>
  </div>
  <div class="sage-col--md-6">
    <%= render "sage/examples/objects/card/markup",
      is_compact: false,
      is_spaced: true,
      title: "Spaced Card w/ Image",
      text: "Diam in auctor sit quam laoreet imperdiet aliquam. Habitant nunc lacus semper lacus, nec a, sit enim.",
      action_text: "Action Button",
      action_style_primary: false,
      action_style_tertiary: true,
       has_img: true,
      img_path: "/assets/sage/card/card-placeholder-lg.png",
      img_alt: "Alternative text for image"
    %>
  </div>
  <div class="sage-col--md-12">
    <%= render "sage/examples/objects/card/markup",
      is_compact: true,
      is_spaced: true,
      title: "Spaced & Compact w/ Image",
      text: "Diam in auctor sit quam laoreet imperdiet aliquam. Habitant nunc lacus semper lacus, nec a, sit enim.",
      action_text: "Action Button",
      action_style_primary: true,
      action_style_tertiary: false,
      has_img: true,
      img_path: "/assets/sage/card/card-placeholder-sm.png",
      img_alt: "Alternative text for image"
    %>
    <%= render "sage/examples/objects/card/markup",
      is_compact: true,
      is_spaced: true,
      title: "Spaced & Compact w/ Image",
      text: "Diam in auctor sit quam laoreet imperdiet aliquam. Habitant nunc lacus semper lacus, nec a, sit enim.",
      action_text: "Action Button",
      action_style_primary: false,
      action_style_tertiary: true,
      has_img: true,
      img_path: "/assets/sage/card/card-placeholder-sm.png",
      img_alt: "Alternative text for image"
    %>
  </div>
  <div class="sage-col--md-6">
    <%= render "sage/examples/objects/card/markup",
      is_compact: false,
      is_spaced: false,
      title: "Card w/ No Image",
      text: "Diam in auctor sit quam laoreet imperdiet aliquam. Habitant nunc lacus semper lacus, nec a, sit enim.",
      action_text: "Action Button",
      action_style_primary: true,
      action_style_tertiary: false,
      has_img: false,
      img_path: "",
      img_alt: ""
    %>
  </div>
  <div class="sage-col--md-6">
    <%= render "sage/examples/objects/card/markup",
      is_compact: false,
      is_spaced: false,
      title: "Card w/ No Image",
      text: "Diam in auctor sit quam laoreet imperdiet aliquam. Habitant nunc lacus semper lacus, nec a, sit enim.",
      action_text: "Action Button",
      action_style_primary: false,
      action_style_tertiary: true,
      has_img: false,
      img_path: "",
      img_alt: ""
    %>
  </div>
</div>