<div class="sage-live-stream-footer">
  <div class="sage-live-stream-footer__settings">
    <%= render "sage/examples/objects/live_stream_control/markup", 
      modifiers: '',
      icon: 'gear',
      iconLabel: 'Settings', 
      isPill: false,
      label: ''
    %>
  </div>
  <div class="sage-live-stream-footer__stream-controls">
    <%= render "sage/examples/objects/live_stream_control/markup", 
      modifiers: '',
      icon: 'microphone',
      iconLabel: 'Toggle Microphone', 
      isPill: false,
      label: ''
    %>
    <%= render "sage/examples/objects/live_stream_control/markup", 
      modifiers: '',
      icon: 'video-on',
      iconLabel: 'Toggle Camera', 
      isPill: false,
      label: ''
    %>
    <%= render "sage/examples/objects/live_stream_control/markup", 
      modifiers: 'sage-live-stream-control--inactive',
      icon: 'screen-share-on',
      iconLabel: 'Toggle Screen Share', 
      isPill: false,
      label: ''
    %>
    <%= render "sage/examples/objects/live_stream_control/markup", 
      modifiers: 'sage-live-stream-control--start',
      icon: 'play',
      iconLabel: 'Toggle Recording', 
      isPill: false,
      label: ''
    %>
  </div>
  <div class="sage-live-stream-footer__chat-controls">
    <%= render "sage/examples/objects/live_stream_control/markup", 
      modifiers: 'sage-live-stream-control--pill' + (!isAwake ? ' sage-live-stream-control--flat' : ''), 
      icon: 'users',
      iconLabel: 'TOggle Participant List',
      isPill: true,
      label: '108'
    %>
    <%= render "sage/examples/objects/live_stream_control/markup", 
      modifiers: !isAwake ? 'sage-live-stream-control--flat' : '', 
      icon: 'conversation',
      label: 'Toggle Chat', 
      isPill: false,
      label: ''
    %>
  </div>
</div>