<div>
  <div class="sage-tabs <%= defined?(layout) ? "sage-tabs--layout-#{layout}" : "sage-tabs--layout-horizontal" %>" data-js-tabs="<%= id %>">
    <% options.each do |option| %>
      <% if defined?(style) && style === "choice" %>
      <%= render "examples/elements/choice/markup", target: "#{id}-#{option[:id]}", text: option[:text], subtext: option[:subtext] %>
      <% else %>
      <%= render "examples/elements/tab/markup", target: "#{id}-#{option[:id]}", text: option[:text] %>
      <% end %>
    <% end %>
  </div>

  <% options.each do |option| %>
    <div class="sage-tab__pane" data-js-pane="<%= "#{id}-#{option[:id]}" %>"><%= option[:content] || "" %></div>
  <% end %>
</div>
