<div>
  <div class="sage-tabs" data-js-tabs="<%= id %>">
    <% options.each do |option| %>
      <button type="button" data-js-tabs-target="<%= "#{id}-#{option[:id]}" %>" class="sage-tabs__tab"><%= option[:text] %></button>
    <% end %>
  </div>

  <% options.each do |option| %>
    <div class="sage-tabs-pane" data-js-tabs-pane="<%= "#{id}-#{option[:id]}" %>">
      Content for: <%= option[:text] %>
    </div>
  <% end %>
</div>
