<div class="sage-tabs" data-js-tabs>
  <% options.each do |option| %>
    <a href="#" data-js-tabs-target="<%= option[:id] %>" class="sage-tabs__tab"><%= option[:text] %></a>
  <% end %>
</div>

<div class="sage-tabs" data-js-tabs>
  <% options.each do |option| %>
    <button type="button" data-js-tabs-target="<%= option[:id] %>" class="sage-tabs__tab"><%= option[:text] %></button>
  <% end %>
</div>

<div class="sage-tabs sage-tabs--style-radio" data-js-tabs>
  <% options.each do |option| %>
    <button type="button" data-js-tabs-target="<%= option[:id] %>" class="sage-tabs__tab"><%= option[:text] %></button>
  <% end %>
</div>

<% options.each do |option| %>
  <div class="sage-tabs-pane" data-js-tabs-pane="<%= option[:id] %>">
    Content for: <%= option[:text] %>
  </div>
<% end %>
