<h3 class="t-sage-heading-6">Regular tabs</h3>
<div class="sage-tabs-container">
  <%= sage_component SageTabs, {
      id: "example-tabs1",
      items: [
        {
          text: "Sub Page 1",
          target: "basic-test1",
          active: true
        },
        {
          text: "Sub Page 2",
          target: "basic-test2"
        },
        {
          text: "Sub Page 3",
          target: "basic-test3"
        },
      ]
    }
  %>

  <%= sage_component SageTabsPane, { id: "basic-test1" } do %>
    <%= sage_component SageCard, {} do %>
      <p>Sub page 1 content</p>
    <% end %>
  <% end %>

  <%= sage_component SageTabsPane, { id: "basic-test2" } do %>
    <%= sage_component SageCard, {} do %>
      <p>Sub page 2 content</p>
    <% end %>
  <% end %>

  <%= sage_component SageTabsPane, { id: "basic-test3" } do %>
    <%= sage_component SageCard, {} do %>
      <p>Sub page 3 content</p>
    <% end %>
  <% end %>
</div>

<h3 class="t-sage-heading-6">Progress styled tabs</h3>
<div class="sage-tabs-container">
  <%= sage_component SageTabs, {
      id: "example-tabs2",
      items: [
        {
          text: "Sub Page 1",
          target: "pb-test1",
          active: true
        },
        {
          text: "Sub Page 2",
          target: "pb-test2"
        },
        {
          text: "Sub Page 3",
          target: "pb-test3"
        },
      ],
      progressbar: true
    }
  %>

  <%= sage_component SageTabsPane, { id: "pb-test1" } do %>
    <%= sage_component SageCard, {} do %>
      <p>Sub page 1 content</p>
    <% end %>
  <% end %>

  <%= sage_component SageTabsPane, { id: "pb-test2" } do %>
    <%= sage_component SageCard, {} do %>
      <p>Sub page 2 content</p>
    <% end %>
  <% end %>

  <%= sage_component SageTabsPane, { id: "pb-test3" } do %>
    <%= sage_component SageCard, {} do %>
      <p>Sub page 3 content</p>
    <% end %>
  <% end %>
</div>

<h3 class="t-sage-heading-6">Choice tabs - default layout</h3>
<div class="sage-tabs-container">
  <%= sage_component SageTabs, {
      id: "example-tabs3",
      items: [
        {
          text: "Sub Page 1",
          target: "choice-test1",
          active: true
        },
        {
          text: "Sub Page 2",
          target: "choice-test2"
        },
        {
          text: "Sub Page 3",
          target: "choice-test3"
        },
      ],
      style: "choice"
    }
  %>

  <%= sage_component SageTabsPane, { id: "choice-test1" } do %>
    <%= sage_component SageCard, {} do %>
      <p>Sub page 1 content</p>
    <% end %>
  <% end %>

  <%= sage_component SageTabsPane, { id: "choice-test2" } do %>
    <%= sage_component SageCard, {} do %>
      <p>Sub page 2 content</p>
    <% end %>
  <% end %>

  <%= sage_component SageTabsPane, { id: "choice-test3" } do %>
    <%= sage_component SageCard, {} do %>
      <p>Sub page 3 content</p>
    <% end %>
  <% end %>
</div>

<h3 class="t-sage-heading-6">Choice tabs - stacked layout</h3>
<div class="sage-tabs-container">
  <%= sage_component SageTabs, {
      id: "example-tabs4",
      items: [
        {
          text: "Sub Page 1",
          target: "stacked-test1",
          active: true
        },
        {
          text: "Sub Page 2",
          target: "stacked-test2"
        },
        {
          text: "Sub Page 3",
          target: "stacked-test3"
        },
      ],
      style: "choice",
      stacked: true
    }
  %>
  <hr class="sage-tabs-divider" />
  <%= sage_component SageTabsPane, { id: "stacked-test1" } do %>
    <%= sage_component SageCard, {} do %>
      <p>Sub page 1 content</p>
    <% end %>
  <% end %>

  <%= sage_component SageTabsPane, { id: "stacked-test2" } do %>
    <%= sage_component SageCard, {} do %>
      <p>Sub page 2 content</p>
    <% end %>
  <% end %>

  <%= sage_component SageTabsPane, { id: "stacked-test3" } do %>
    <%= sage_component SageCard, {} do %>
      <p>Sub page 3 content</p>
    <% end %>
  <% end %>
</div>
