<%
foundations_pages = [
  {
    name: "UX Values",
    path: pages_foundation_path(:ux_values),
  },
  {
    name: "Design Principles",
    path: pages_foundation_path(:design_principles),
  },
  {
    name: "Accessibility",
    path: pages_foundation_path(:accessibility),
  },
]
%>
<%
design_pages = [
  {
    name: "Tokens",
    path: pages_design_path(:token),
  },
  {
    name: "Colors",
    path: pages_design_path(:color),
  },
  {
    name: "Typography",
    path: pages_design_path(:typography),
  },
  {
    name: "Icons",
    path: pages_design_path(:icon),
  },
  {
    name: "Containers",
    path: pages_design_path(:container),
  },
  {
    name: "Panels and Cards",
    path: pages_design_path(:panels_cards),
  },
  {
    name: "Grid",
    path: pages_design_path(:grid),
  },
  {
    name: "Grid Templates",
    path: pages_design_path(:grid_templates),
  }
]
%>
<div class="sage-sidebar" data-js-sidebar="sage-sidebar-menu" id="sage-sidebar-menu">
  <div class="sage-sidebar__body">
    <nav class="sage-nav" aria-label="Main">
      <ul class="sage-nav__list">
        <li><%= link_to "Home", pages_index_path, class: "sage-nav__link #{"sage-nav__link--active" if current_page?(pages_index_path)}" %>
        <li>
          <%= link_to "Foundations", pages_foundation_path(:ux_values), class: "sage-nav__link #{"sage-nav__link--active" if current_page_foundations?}" %>
          <% if current_page_foundations? %>
            <ul class="sage-nav__list sage-nav__list--sub">
              <% foundations_pages.each do | page | %>
                <li>
                  <%= link_to page[:name], page[:path], class: "sage-nav__link sage-nav__link--sub #{"sage-nav__link--active" if current_page?(page[:path])}" %>
                </li>
              <% end %>
            </ul>
          <% end %>
        </li>
        <li>
          <%= link_to "Design", pages_design_path(:token), class: "sage-nav__link #{"sage-nav__link--active" if current_page_design?}" %>
          <% if current_page_design? %>
            <ul class="sage-nav__list sage-nav__list--sub">
              <% design_pages.each do | page | %>
                <li>
                  <%= link_to page[:name], page[:path], class: "sage-nav__link sage-nav__link--sub #{"sage-nav__link--active" if current_page?(page[:path])}" %>
                </li>
              <% end %>
            </ul>
          <% end %>
        </li>
        <li>
          <%= link_to "Components", pages_elements_path, class: "sage-nav__link #{"sage-nav__link--active" if current_page_elements?}" %>
          <% if current_page_elements? || current_page_objects? %>
            <ul class="sage-nav__list sage-nav__list--sub">
              <li>
                <%= link_to "Elements", pages_elements_path, class: "sage-nav__link sage-nav__link--sub #{"sage-nav__link--active" if current_page_elements?}" %>
              </li>
              <li>
                <%= link_to "Objects", pages_objects_path, class: "sage-nav__link sage-nav__link--sub #{"sage-nav__link--active" if current_page_objects?}" %>
              </li>
            </ul>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
  <div class="sage-sidebar__footer">
    <nav class="sage-nav" aria-label="Secondary">
      <ul class="sage-nav__list">
        <%= link_to "Sandbox", pages_sandbox_path, class: "sage-nav__link #{"sage-nav__link--active" if current_page?(pages_sandbox_path)}" %>
        <li><%= link_to "Voice & Tone", "https://github.com/Kajabi/sage/wiki/Voice-&-Tone", class: "sage-nav__link", target: "_blank", rel: "noopener noreferrer" %></li>
        <li><%= link_to "Guidelines", "https://github.com/Kajabi/sage/wiki", class: "sage-nav__link", target: "_blank", rel: "noopener noreferrer" %></li>
        <li><%= link_to "Code Status", pages_status_path, class: "sage-nav__link #{"sage-nav__link--active" if current_page?(pages_status_path)}" %></li>
      </ul>
    </nav>
  </div>
</div>
