<div class="sage-sidebar" data-js-sidebar="sage-sidebar-menu" id="sage-sidebar-menu">
  <div class="sage-sidebar__body">
    <nav class="sage-nav" aria-label="Main">
      <ul class="sage-nav__list">
        <li><%= link_to "Introduction", pages_index_url, class: "sage-nav__link #{"sage-nav__link--active" if current_page?(pages_index_url)}" %></li>
        <li><%= link_to "Styles", pages_style_path(title: :token), class: "sage-nav__link #{"sage-nav__link--active" if current_page_styles?}" %>
          <% if current_page_styles? %>
            <ul class="sage-nav__list sage-nav__list--sub">
              <%= yield :sidebar_styles %>
            </ul>
          <% end %></li>
        <li><%= link_to "Elements", pages_elements_url, class: "sage-nav__link #{"sage-nav__link--active" if current_page_elements?}" %>
          <% if current_page_elements? %>
            <ul class="sage-nav__list sage-nav__list--sub">
              <%= yield :sidebar_elements %>
            </ul>
          <% end %></li>
        <li><%= link_to "Objects", pages_objects_url, class: "sage-nav__link #{"sage-nav__link--active" if current_page_objects?}" %>
          <% if current_page_objects? %>
            <ul class="sage-nav__list">
              <%= yield :sidebar_objects %>
            </ul>
          <% end %></li>
        <li><%= link_to "Utilities", pages_utilities_url, class: "sage-nav__link #{"sage-nav__link--active" if current_page?(pages_utilities_url)}" %></li>
        <li><%= link_to "Code Status", pages_status_url, class: "sage-nav__link #{"sage-nav__link--active" if current_page?(pages_status_url)}" %></li>
      </ul>
    </nav>
  </div>
  <div class="sage-sidebar__footer">
    <nav class="sage-nav" aria-label="Secondary">
      <ul class="sage-nav__list">
        <li><%= link_to "Voice & Tone", "https://github.com/Kajabi/sage/wiki/Voice-&-Tone", class: "sage-nav__link", target: "_blank", rel: "noopener noreferrer" %></li>
        <li><%= link_to "Guidelines", "https://github.com/Kajabi/sage/wiki", class: "sage-nav__link", target: "_blank", rel: "noopener noreferrer" %></li>
        <li><%= link_to "Github", "https://github.com/Kajabi/sage", class: "sage-nav__link", target: "_blank", rel: "noopener noreferrer" %></li>
        <li><%= link_to "Changelog", "https://github.com/Kajabi/sage/releases", class: "sage-nav__link", target: "_blank", rel: "noopener noreferrer" %></li>
      </ul>
    </nav>
  </div>
</div>
