<%
tabs = sage_component(SageTabs, {
  items: [
    {
      text: "Test 1",
      attributes: { href: "#test-1" },
      active: true
    },
    {
      text: "Test 2",
      attributes: { href: "#test-2" },
    },
    {
      text: "Test 3",
      attributes: { href: "#test-3" },
    }
  ]
})

search = sage_component(SageSearch, { placeholder: "Find..." })

dropdown = sage_component(SageDropdown, {
  search: true,
  trigger_type: "select",
  align: "right",
  items: [
    {
      value: "-- None --"
    }, {
      value: "Option 1",
    }, {
      value: "Option 2",
    }, {
      value: "Option 3",
    }
  ],
  content: %(
    #{sage_component(SageButton, {
      style: "secondary",
      value: "",
      css_classes: "sage-dropdown__trigger-selected-value",
      icon: { style: "right", name: "caret-down" }
    })}
  <label class="sage-dropdown__trigger-label">Select an option...</label>
  ).html_safe
})

search_filter_toolbar = %(
  <div class="sage-panel-controls__toolbar-btn-group">
    #{search}
    #{
      sage_component(SageButton, {
        value: "Saved filters",
        style: "secondary",
        icon: { name: "favorite", style: "left" }
      })
    }
    #{
      sage_component(SageButton, {
        value: "Filters",
        style: "secondary",
        icon: { name: "filters", style: "left" }
      })
    }
    #{
      sage_component(SageButton, {
        value: "Clear filters",
        style: "secondary",
        icon: { name: "remove", style: "left" }
      })
    }
  </div>
).html_safe

sort_items = [
  {
    value: "Name",
    attributes: {
      "href": "#",
      "data-js-list-sort-by": "name"
    },
  },
  {
    value: "Email",
    attributes: {
      "href": "#",
      "data-js-list-sort-by": "email"
    },
  },
  {
    value: "Join date",
    attributes: {
      "href": "#",
      "data-js-list-sort-by": "join_date"
    },
  }
]

actions_items = [
  {
    value: "Delete",
    attributes: {
      "href": "#",
      "data-js-list-action": "delete_selected",
    },
  },
  {
    value: "Set marketing",
    attributes: {
      "href": "#",
      "data-js-list-action": "set_marketing_unsubscribed",
    },
  }
]
%>

<h4>Tabs + Search</h4>
<%= sage_component SagePanelControls, { target: "demo-table" } do %>
  <% content_for :sage_panel_controls_tabs do %>
    <%= tabs %>
  <% end %>
  <% content_for :sage_panel_controls_toolbar do %>
    <%= search %>
  <% end %>
<% end %>

<h4>Bulk actions</h4>
<%= sage_component SagePanelControls, {
  show_bulk_actions: true,
  show_expand_collapse: true,
  show_pagination: true,
  show_sort: true,
  bulk_action_items: actions_items,
  sort_items: sort_items,
  target: "demo-table",
} %>

<h4>Sample Custom Toolbar</h4>
<%= sage_component SagePanelControls, { target: "demo-table" } do %>
  <% content_for :sage_panel_controls_toolbar do %>
    <%= search_filter_toolbar %>
    <%= dropdown %>
  <% end %>
<% end %>

<h4>Kitchen Sink</h4>
<%= sage_component SagePanelControls, {
  show_bulk_actions: true,
  show_expand_collapse: true,
  show_pagination: true,
  show_sort: true,
  bulk_action_items: actions_items,
  sort_items: sort_items,
  target: "demo-table",
} do %>
  <% content_for :sage_panel_controls_tabs do %>
    <%= tabs %>
  <% end %>
  <% content_for :sage_panel_controls_toolbar do %>
    <%= search_filter_toolbar %>
    <%= dropdown %>
  <% end %>
<% end %>

<%= sage_component SageTable, {
  html_attributes: {
    id: "demo-table",
  },
  reset_above: true,
  headers: [
    {
      value: "",
      data_type: "checkbox",
    },
    {
      value: "",
      data_type: "avatar",
    },
    {
      value: "Name",
    },
    {
      value: "Email",
    },
    {
      value: "Email Marketing",
    },
    {
      value: "Join Date",
    },
    {
      value: "Last Activity",
    },
  ],
  rows: [
    {
      selected: sage_component(SageCheckbox, { value: "", standalone: true }),
      avatar: sage_component(SageAvatar, { initials: "AF", color: "purple" }),
      name: "Albert Flores",
      email: "albert.flores@example.com",
      marking: "Never Subcribed",
      joinDate: "8/2/19",
      lastActivity: "8/2/19",
    },
    {
      selected: sage_component(SageCheckbox, { value: "", standalone: true }),
      avatar: sage_component(SageAvatar, { initials: "EP", color: "orange" }),
      name: "Eleanor Pena",
      email: "eleanorpena@example.com",
      marking: "Unsubscribed",
      joinDate: "7/11/19",
      lastActivity: "7/11/19",
    },
    {
      selected: sage_component(SageCheckbox, { value: "", standalone: true }),
      avatar: sage_component(SageAvatar, { initials: "AM", color: "sage" }),
      name: "Arlene McCoy",
      email: "arlenemccoy@example.com",
      marking: "Unsubscribed",
      joinDate: "6/21/19",
      lastActivity: "6/21/19",
    },
    {
      selected: sage_component(SageCheckbox, { value: "", standalone: true }),
      avatar: sage_component(SageAvatar, { initials: "KM" }),
      name: "Kathryn Murphy",
      email: "katmurphy98@example.com",
      marking: "Subscribed",
      joinDate: "4/4/18",
      lastActivity: "4/4/18",
    }
  ]
}
%>


<h4>Events</h4>
<p>
  This component is set up to pair with a table of items.
  As a result, these controls can sort, navigate between pages,
  and apply bulk actions when the actions exposed here
  are paired with corresponding responders in context.
</p>
<ul>
  <li>All these custom events are mapped to the <code>sage.panelControls.change</code> event type.</li>
  <li>
    The <code>detail</code> property of this custom event always contains the following
    along with additional properties outlined in detail below:
    <ul>
      <li><code>type</code>: the more specific type of event in the context of the Panel Controls</li>
      <li><code>targetListId</code>: the id of the list to be targetted by the action</li>
    </ul>
  </li>
</ul>

<h5>Pagination events <code>type: "pagination:[next|prev]"</code></h5>
<p>
  As the user clicks on the "next" or "previous" buttons,
  they will fire the corresponding event type.
  It is up the the repsonder to interpret and adjust the list accordingly.
</p>

<h5>Expand/Collapse events <code>type: "list:[collapse|expand]"</code></h5>
<p>
  As the user clicks on the "expand" or "collapse" buttons,
  they will fire the corresponding event type.
  It is up the the repsonder to interpret and adjust the list accordingly.
</p>

<h5>Selection events <code>type: "list:[selectAll|selectNone]"</code></h5>
<p>
  As the user toggles the "select all" checkbox the corresponding event type is issued.
  It is up the the repsonder to interpret and adjust the list accordingly.
</p>

<h5>Sorting events <code>type: "list:sort"</code></h5>
<p>
  Items provided to the <code>sort_items</code>
  should set the <code>data-js-list-sort-by</code> attribute
  with the name of the field to be sorted by the responder.
  This value is passed to the <code>detail</code> of the custom event
  through the <code>sortBy</code> property.
</p>

<h5>Bulk action events <code>type: "list:action"</code></h5>
<p>
  Items provided to the <code>bulk_action_items</code>
  should set the <code>data-js-action</code> attribute
  with the name of an action to be exposed to the responder.
  This value is passed to the <code>detail</code> of the custom event
  through the <code>action</code> property.
  Any additional properties may be provided as data attributes
  and accessible on the custom event's <code>target.dataset</code> property.
</p>
