<%
tabs = sage_component(SageTabs, {
  items: [
    {
      text: "Test 1",
      attributes: { href: "#test-1" },
      active: true
    },
    {
      text: "Test 2",
      attributes: { href: "#test-2" },
    },
    {
      text: "Test 3",
      attributes: { href: "#test-3" },
    }
  ]
})

search = sage_component(SageSearch, { placeholder: "Find..." })

dropdown = sage_component(SageDropdown, {
  search: true,
  trigger_type: "select",
  align: "right",
  items: [
    {
      value: "-- None --"
    }, {
      value: "Option 1",
    }, {
      value: "Option 2",
    }, {
      value: "Option 3",
    }
  ],
  content: %(
    #{sage_component(SageButton, {
      style: "secondary",
      value: "",
      css_classes: "sage-dropdown__trigger-selected-value",
      icon: { style: "right", name: "caret-down" }
    })}
  <label class="sage-dropdown__trigger-label">Select an option...</label>
  ).html_safe
})

search_filter_toolbar = %(
  <div class="sage-panel-controls__toolbar-btn-group">
    #{search}
    #{
      sage_component(SageButton, {
        value: "Saved filters",
        style: "secondary",
        icon: { name: "favorite", style: "left" }
      })
    }
    #{
      sage_component(SageButton, {
        value: "Filters",
        style: "secondary",
        icon: { name: "filters", style: "left" }
      })
    }
    #{
      sage_component(SageButton, {
        value: "Clear filters",
        style: "secondary",
        icon: { name: "remove", style: "left" }
      })
    }
  </div>
).html_safe
%>

<h4>Tabs + Search</h4>
<%= sage_component SagePanelControls, {} do %>
  <% content_for :sage_panel_controls_tabs do %>
    <%= tabs %>
  <% end %>
  <% content_for :sage_panel_controls_toolbar do %>
    <%= search %>
  <% end %>
<% end %>

<h4>Tabs + Search in Toolbar</h4>
<%= sage_component SagePanelControls, {} do %>
  <% content_for :sage_panel_controls_tabs do %>
    <%= tabs %>
  <% end %>
  <% content_for :sage_panel_controls_toolbar do %>
    <%= search_filter_toolbar %>
    <%= dropdown %>
  <% end %>
<% end %>

<h4>Tabs + Search with Bulk actions</h4>
<%= sage_component SagePanelControls, {
  show_bulk_actions: true,
  show_expand_collapse: true,
  show_pagination: true,
} do %>
  <% content_for :sage_panel_controls_tabs do %>
    <%= tabs %>
  <% end %>
  <% content_for :sage_panel_controls_toolbar do %>
    <%= search_filter_toolbar %>
    <%= dropdown %>
  <% end %>
<% end %>
